[2017-04-29 16:11] cabol opened #1 "Fulfil the open-source checklist"
## General Items

- [x] It has a github repo
- [x] It has a proper MIT LICENSE file
- [x] It's has a clear and useful README.md
- [x] It's documented (with examples)
- [x] It's tested
- [x] is has coverage > 98%

## Features for First Version

- [x] Local Generational Cache Adapter
- [x] Distributed Cache Adapter
- [x] Multilevel Cache Adapter

## Exhibition

- [x] There is a blog post about it
-

[2017-05-11 18:38] cabol opened #2 "Implement mix task to automate cache generation"
Implement mix tasks to create caches, e.g.:

[code]

Check [Ecto](https://github.com/elixir-ecto/ecto) to have a better idea

[2017-05-31 18:33] #2 closed

[2017-08-16 22:46] princemaple commented on #1
A quick comparison with libraries like https://github.com/zackehh/cachex ?

[2017-08-16 22:59] cohawk commented on #1
Is cachex distributed though?  I'd like to see (or plan to setup) some performance benchmarks.
Might be able to remove my Redis dependency.

[2017-08-17 00:00] princemaple commented on #1
exactly. comparison :)

[2017-08-17 00:28] cabol commented on #1
@princemaple yes, good point, I'll include this as part of the open source list (maybe write a blog post about it).

@cohawk performance benchmark actually is one the the requirements (highest priority) before to launch the v1.0.0, and I think it will come very very soon! And it should be included in this list as well, thanks! BTW, I'll post it on elixir forum as well :) !!

[2017-08-17 12:05] cabol opened #3 "Add counters support – increments and decrements by a given amount"
Create a callback `update_counter` in `Nebulex.Cache`, in order to handle both scenarios, increments and decrements, depending on the `incr` value, which can me positive or negative. In case `incr` is not a valid integer value, it should raise an `ArgumentError` exception.

[code]

[2017-08-17 13:43] ferigis opened #4 "Update Getting Started guide"
In "Fetching all entries" section we are using `Blog.Cache.all/0,1` which it doesn't exist anymore.
Replace it by `to_map` function

[2017-08-17 14:24] #4 closed

[2017-08-18 02:48] loongmxbt commented on #4
May I ask why replace all() to to_map()?

[2017-08-18 13:07] cabol commented on #4
@loongmxbt the reason is `all` function doesn't exists any more, instead the `to_map` function was created to retrieve all cached entries, because sometimes you might want not only the values but also the keys, and I though the best way to return the cached entries was using a map, you have both, keys and values, and is you want the `Nebulex.Object` as value, you can pass the option `return: :obje

[2017-08-25 15:05] #3 closed

[2017-08-25 16:15] cabol commented on #1
@cohawk I just added a simple benchmarks, using [benchfella](https://github.com/alco/benchfella), but those are very simple/naive tests, but I think at least it is a good starting point. These tests runs either for the local generational adapter and the distributed adapter, spawning three nodes, and setting up 1000 cache entries (this applies either for the local and distributed cache). My goal is

[2017-08-25 18:28] cabol opened #6 "Load/Stress Tests"
Make load/stress tests for Nebulex, including the local generational cache and distributed cache either. This can be done in a separated repo (e.g.: `nebulex_bench`) and documenting results in a blog post maybe.

[2017-08-27 18:47] fire commented on #6
Tried using benchfella to benchmark the cache.

I was wondering why this 500,000 does not change on a laptop 2 cores or a desktop 4+ cores.

https://github.com/fire/database_cache_benchmark/blob/master/bench/database_bench.exs#L13

[code]

[2017-08-27 18:48] fire commented on #6
This is using cockroachdb, but it should be compatible with postgresql.

[2017-08-29 15:27] cabol commented on #6
@fire thanks for the bench! I had added a [simple bench to Nebulex](https://github.com/cabol/nebulex#benchmarks) using the same library benchfella, but only for local and distributed adapter, without Ecto, so it is an interesting and complementary bench test to Nebulex.

On other hand, I don't know much about benchfella, at least not in terms of its implementation, so I'm not sure if benchfella is

[2017-08-30 03:55] fire commented on #6
Are you familiar with using basho_bench to test ecto (with postgresql / cockroachdb) driver?

[2017-08-30 11:19] cabol commented on #6
I'm familiar with basho_bench, but the tricky part is to integrate Elixir and Ecto within the project, since basho_bench doesn't works with rebar3 (AFAIK), then you cannot use the [rebar3_elixir_compile](https://github.com/barrel-db/rebar3_elixir_compile) plugin, and that makes it more difficult. However, I think it would be easy to add rebar3, and I'd also remove unnecessary dependencies, try to

[2017-08-30 14:24] fire commented on #6
There's two parts to my benchmark. A)The ecto schema / ecto caching and B) the phoenix json api.

As far as I know, only the ecto schema part is used in the benchfella benchmark. So I can delete the phoenix framework, but I would rather made it work because one of my goals is to either use thrift (elixir-thrift) or phoenix to provide access to the ecto database / caching.

[2017-08-30 14:33] cabol commented on #6
Absolutely, that's fine, you should keep everything that make sense to you. When I said "*try to prune the project a bit*" I was referring to basho_bench, because it brings with a lot of dependencies, which are not necessary to do the test. What I'd like to do is try to use basho_bench against Nebulex, I'll try to make it soon.

[2017-08-31 15:39] fire commented on #6
Are you using a fork of basho_bench? I could look at it after work hours.

[2017-08-31 18:17] cabol commented on #6
Yes I use a [fork](https://github.com/cabol/basho_bench) but it is outdated and it hasn't Nebulex included yet, I used that fork to test [shards](https://github.com/cabol/shards)

[2017-09-10 00:37] WolfDan commented on #1
@princemaple Cachex no longer support distributed cache

[Caches issue relared](https://github.com/whitfin/cachex/issues/51)

[2017-09-10 00:55] WolfDan opened #7 "Custom ttl for every cache record?"
One of the cool features of Cachex is set a custom ttl for every set record if is required, I don't see any possible way to achieve this on nebulex, just a global one that is "gc_interval" if I'm not wrong

So... Is possible to do it with Nebulex?

Greettings

[2017-09-10 13:01] cabol commented on #7
@WolfDan of course it is possible:

[code]

[2017-09-10 14:47] WolfDan commented on #7
Oh nice, thank you!

[2017-09-10 14:47] #7 closed

[2017-09-13 15:41] danmcclain opened #8 "Atom exhaustion from generations"
From a sufficiently long running app, the app will crash due to the dynamically generated atoms here: https://github.com/cabol/nebulex/blob/master/lib/nebulex/adapters/local/generation.ex#L125

[2017-09-14 16:33] cabol commented on #8
@danmcclain good point, thanks! I'll try to fix it ASAP!!

[2017-09-17 16:24] cabol commented on #8
@danmcclain I think this fix should works. It is a simple strategy, basically what I did was to force to use fixed number of atoms, which are initialized here: https://github.com/cabol/nebulex/blob/master/lib/nebulex/adapters/local/generation.ex#L114-L126

Then for cache generation names, re-use those fixed atoms (like a circular list): https://github.com/cabol/nebulex/blob/master/lib/nebulex/adap

[2017-10-12 17:16] fire commented on #6
Have you looked at basho bench lately? There are compatibility fixes I believe to erlang 20 or at least there's a riak working group now.

[2017-10-13 05:46] cabol commented on #6
@fire no, but I will, it is a very good news, I'll take a look at it and try to do this load testing soon. Thanks :) !!

[2017-10-13 05:48] #8 closed

[2017-10-13 13:13] fire commented on #6
If you had problems, this is the one that has erlang 19 compatibility. https://github.com/mrallen1/basho_bench/blob/mra-rebar3/README.org#quick-start

[2017-10-22 14:07] fire commented on #6
Ping!

[2017-10-22 16:58] cabol commented on #6
Hi @fire, my plan is start work on this issue this week (actually is the next one in my list), and of course I'll start checking out the link you sent me, as soon as I have some result I'll let you know. BTW, have you tried it out already?

[2017-10-22 20:11] fire commented on #6
Was able to build it in Elixir and erlang 20, but didn't find time understanding how the drivers worked. That's where I stopped.

[2017-10-23 18:40] cabol commented on #6
Ok, basically you have to provide two things to `basho_bench`:

1) As you mentioned, the driver, so in the `src` you can create a module like this:

[code]

In this driver we are testing two operations, `get` and `set`, and the `run/4` function is executed depending on you config file.

2) The config file, so in the folder `examples` we can add out config file `basho_bench_nebulex.config`:

[code]

[2017-10-23 19:24] fire commented on #6
When I do a iex --werl -S mix run inside of https://github.com/fire/database_cache_benchmark I'm able to access the basho_bench functions.

Inside of the elixir shell I the ability to use both ecto and basho_bench. I'm not sure what do though.

[2017-10-23 19:32] fire commented on #6
[code]

Seems to work, but it crashes on `{driver, basho_bench_driver_shards}.`

[2017-10-23 19:40] fire commented on #6
Added https://github.com/fire/database_cache_benchmark/blob/master/src/basho_bench_driver_shards.erl but still failing:

[code]

[2017-10-23 20:20] fire commented on #6
Loading https://github.com/fire/database_cache_benchmark:

[code]

Will insert and fetch random uuids.

How do you use  key_gen and value_gen in `def run(:put, key_gen, value_gen, state)` ?

[2017-10-23 20:21] fire commented on #6
https://github.com/fire/database_cache_benchmark/blob/master/lib/basho_bench/basho_bench_nebulex_driver.ex is the nebulex driver written in Elixir.

[2017-10-23 21:31] fire commented on #6
https://github.com/fire/database_cache_benchmark/commit/eca59d277904b88d36b65a112ec6fc9bde01709e Has my last work on trying to get uuid_v4 generation.

Reminder:

[code]

[2017-10-23 22:10] fire commented on #6
Error log:

[code]

[2017-10-24 06:19] cabol commented on #6
Hi @fire, well actually you did a good progress, you took other approach (which I like it), instead of add `nebulex` and the cache to `basho_bench`, you added `basho_bench` as dependency of your elixir bench project, so I'll work on that, I'll try to reproduce the error you got, and try to move forward – BTW Thanks :) !!

[2017-10-24 08:24] cabol commented on #6
@fire good news, I was able to run the basho_bench tests with your repo (database_cache_benchmark), I found some issues:

1) This line: https://github.com/fire/database_cache_benchmark/blob/master/src/basho_bench_nebulex.config#L11

Replace `{key_generator, uuid_v4}.` by `{key_generator, {int_to_bin_bigendian, {uniform_int, 1000}}}.`

2) There are some errors here: https://github.com/fire/database

[2017-10-24 14:19] fire commented on #6
Nebulex ran on my machine but I need to generate uuids.

[code]

[2017-10-24 15:01] fire commented on #6
I modified the schema so it works with integer keys, but I wanted uuid results.
https://github.com/fire/database_cache_benchmark/commit/735852be657dd4b9ad6af9a39f40ad550d9b40b1

[2017-10-24 15:35] fire commented on #6
![summary](https://user-images.githubusercontent.com/32321/31952695-131f9014-b896-11e7-90a2-60945f74b147.png)

Results on Windows and my desktop. Do not use this for scientific reference.

{operations, [{put, 1}, {get, 1}]}.

Currently trying:

{operations, [{put, 2}, {get, 8}]}.

[2017-10-24 15:49] fire commented on #6
[code]
Results on Windows and my desktop. Do not use this for scientific reference.

![summary](https://user-images.githubusercontent.com/32321/31953592-3cead3b6-b898-11e7-8001-28b39f1ae772.png)

[2017-10-24 16:17] fire commented on #6
Previous results are wrong, the puts were failing.

[2017-10-24 16:41] fire commented on #6
![summary](https://user-images.githubusercontent.com/32321/31956177-760f6132-b89f-11e7-8d2a-3102ab5a7683.png)

[code]

[2017-10-24 16:42] cabol commented on #6
These were my results, but only testing the cache, no Ecto (no DB access), I wanted to get some metrics from the Nebulex cache itself first. Keep in mind that you are testing Ecto with Nebulex, which means that for reads you fetch the data drom the DB sometimes, and for writes you always hit both, the cache and the DB.

But well, with your tests we have metrics from only `nebulex` and `nebulex_ect

[2017-10-24 16:51] fire commented on #6
I recommend we pick a few databases with standard hardware try out nebulex_ecto.

[2017-10-24 18:21] cabol commented on #6
@fire 100% agreed, that would be great. Meanwhile, I'll create a separated project for these load tests (only for `nebulex`) – probably within `nebulex_examples` I'll create a new one, e.g.: `nebulex_bench`. Then, we can use your project `database_cache_benchmark` for `nebulex_ecto` load tests.

[2017-10-24 19:43] cabol commented on #6
I've created a new project to run bench/load tests against `Nebulex`: [nebulex_bench](https://github.com/cabol/nebulex_examples/tree/master/nebulex_bench) – the project also contains some initial graphs with results for local cache.

[2017-10-24 19:47] fire commented on #6
Interesting results trying to copy ycsb's

[code]

Hint. It mostly gets cached.

[2017-11-03 09:34] cabol commented on #6
@fire based on you suggestion (pick a few databases with standard hardware try out `nebulex_ecto`), I just opened a new issue on [nebulex_ecto](https://github.com/cabol/nebulex_ecto) in order to continue the load tests but with `nebulex_ecto`. So I think this issue can be closed, let me know your thoughts!!

[2017-11-03 12:41] fire commented on #6
That's a good suggestion. You can close this issue.

[2017-11-04 07:00] #6 closed

[2017-11-13 17:35] fire opened #10 "Add stream"
How difficult is it to add stream?

https://hexdocs.pm/ecto/Ecto.Repo.html#c:stream/2

[2017-11-14 19:06] cabol commented on #10
@fire I think you should open the issue in [nebulex_ecto](https://github.com/cabol/nebulex_ecto/issues/4)

[2017-11-25 12:24] cabol commented on #10
I moved this issue to [nebulex_ecto issues](https://github.com/cabol/nebulex_ecto/issues/5)

[2017-11-25 12:24] #10 closed

[2017-12-06 10:05] cabol opened #15 "Replicated cache adapter"
Add support for replicated cache – for more info check this link: [Distributed Caching Essential Lessons](https://es.slideshare.net/C0deKhan/distributed-caching-essential-lessons-ts-1402)

[2018-01-10 11:54] frekw opened #16 "Publish a rc.3 release"
Hi!

Since there are some important fixes on master, would you mind cutting a `-rc.3` release?

[2018-01-10 19:04] cabol commented on #16
Published [Pre-release 1.0.0-rc.3](https://hex.pm/packages/nebulex/1.0.0-rc.3)

[2018-01-10 19:04] #16 closed

[2018-01-10 19:16] frekw commented on #16
Thank you! 🙏🙏🙏

[2018-01-18 16:44] cohawk opened #17 "TTL and EXPIRE functions?"
Looking through the docs and codebase I do not see a way to return a key's current TTL - only set it.  Unless I am missing it somewhere? (https://redis.io/commands/ttl)

Also along those lines it would be nice to have a Redis like EXPIRE function (https://redis.io/commands/expire) to refresh a key's TTL (get and set) or return 0/false if the key does not exist (or already expired).

[2018-01-28 20:23] cabol commented on #17
@cohawk I agree, it would be helpful to have these functions (especially the `ttl` to retrieve the remaining TTL for an specific key). But, I'm not sure to add them to the current cache interface.

1) For the TTL which is more related to the `Nebulex.Object` module, so I've added a function there in order to retrieve the remaining TTL. For Example:

[code]

2) For the EXPIRE funtion, I think it is

[2018-01-30 03:12] cohawk commented on #17
@cabol, simple and beautiful.  Passing the &(&1) function is much better than the get_and_update method that I was looking into.

I think I would still create wrapper functions with documentation (at least in my code) using your above examples and explanations, since I could see myself looking back at the Expire code block and not remembering exactly what it was doing.

But either way both functio

[2018-01-30 04:31] cabol commented on #17
@cohawk thanks :) !!

[2018-01-30 04:31] #17 closed

[2018-02-09 11:01] BartOtten opened #18 "Invalidate keys cluster-wide"
Currently keys which are set are available for the whole cluster, multilevel style. Could a function be added to invalidate the keys cluster-wide?

**Over simplified exampe:**
Node1: Nebulex.set "foo" "bar"

Node2: Nebulex.get "foo"

Node2: Nebulex.drop "foo"

Node1: Nebulex.get "foo"

[2018-02-09 11:32] BartOtten commented on #18
After a second thought and seeing the delegates, this might as well be a bug.
`defdelegate delete(key, opts \\ []), to: One.MultiCache.Dist`

Also, I see no real value in deleting only from the Local cache in a cluster, as 'get' would still get a value from L2 :)

[2018-02-11 19:00] cabol commented on #18
@BartOtten if i understand you correctly, what you want to do is delete the key from all cache levels when `Nebulex.delete` is executed right? If so, you can do this:

[code]

That should remove the key in all cache levels, if you find any issue please let me know. On other hand, I agree when you say *"I see no real value in deleting only from the Local cache in a cluster, as 'get' would still get

[2018-02-11 19:17] BartOtten commented on #18
I haven’t tried yet, but my demo had 2 connected Elixir nodes, which were
connected caches using NearCache (like: the example on 2 nodes). Delete on
node 1 had no effect cause the value would be fetched at node 2.

As a workaround I hacked in my code a drop/1 function, which rpc to all
nodes and executes MultilevelCache.delete

If you option has the same effect, i rather use that. If not, delete/2

[2018-02-15 12:14] cabol commented on #18
@BartOtten were you able to try `MyCache.delete("foo", level: :all)`? Let me know if it did work for you or not. Stay tuned!

[2018-02-24 02:24] whitfin commented on #1
@cabol I'm curious why an issue was never opened on the Cachex repository to introduce your ideas in the existing codebase, rather than jumping to starting new project? Especially seeing reimplementation of existing Cachex features inside this project (hooks, stats, etc). I still have intentions of bringing distribution back as a first class feature in Cachex, and I'm curious whether we can merge

[2018-02-24 08:45] cabol commented on #1
@whitfin first of all thanks for your thoughts!

That is a good question, my plan with Nebulex wasn't only to provide another Cache, but provide a Caching framework or wrapper that allows you to implement different types of Cache, different eviction algorithms, caching topologies, etc. For that reason, I took Ecto as inspiration, the API and its pluggable design based on adapters. Based on these i

[2018-02-24 19:16] whitfin commented on #1
@cabol

That's fair (and it would have).

Cachex is a little more than LRU (in fact, technically it's not LRU at all). Eviction is driven by expiration on keys, but size bounds can be provided using policies (`Cachex.Policy`) to enable implementing your own algorithms.

Sure, and even if that was your intention, competition isn't a bad thing :) I'd be interested in assisting you writing an adapter

[2018-02-25 05:25] cabol commented on #1
@whitfin I like the idea, actually Cachex might be the default cache backend, I like that, I'll start thinking on it, the simplest approach would be start writing the adapter mapping its callbacks to Cachex functions, but I'd like to review Cachex more in details because it has a lot of features we cannot afford to loose, so this mapping should be designed very carefully.

Of course, the other opt

[2018-04-18 09:19] cabol opened #19 "For `update` and `get_and_update` functions, the :ttl is being overridden"
For `update` and `get_and_update` functions, in the case that `:ttl` already exists for the given `key`, we should keep the current `:ttl` unless a new one is passed in the options

[2018-04-18 10:11] #19 closed

[2018-05-11 07:53] cabol opened #20 "Adapter for `whitfin/cachex`"

[2018-05-11 17:06] cabol opened #21 "Create first cache generation by default when the cache is started"
Currently, when the local cache is started, the first generation is not created by default, hence if we perform some operation in the cache, an exception is raised. To avoid this exception we have to call `MyCache.new_generation()` before to use the cache or set the option `gc_interval` in the config.

The idea is to avoid this situation by creating the first cache generation automatically when th

[2018-05-11 18:05] #21 closed

[2018-07-16 18:44] cabol commented on #15
This adapter is being implemented here: https://github.com/amilkr/nebulex_ext

[2018-07-16 18:46] cabol opened #22 "Adapter for Memcached"

[2018-07-16 18:46] cabol opened #23 "Adapter for Redis"

[2018-07-19 06:03] #15 closed

[2018-08-09 23:34] cabol opened #24 "Refactor `Nebulex.Adapters.Dist` to use `Task` instead of `:rpc`"
Be able to perform the operations asynchronously, without any requests serialization; `:rpc` serialize the requests on a single server behind scenes, while tasks are effectively running asynchronously on the remote node

[2018-08-10 17:03] #24 closed

[2018-09-04 22:42] yoonghm opened #25 "FAQ list"
Hi is there a forum or faq list so that new users could ask or find answer they are looking for?

I could not wait for this forum or faq, I would like find out a few things before deciding a design of a new project. I would like to use elixir, ecto, phoenix and nebulex. However, i would like to know the difference between local and distributed cache. Does the distributed cache refer to the caches

[2018-09-05 15:32] cabol commented on #25
@yoonghm

Unfortunately no, well, not yet, but sounds like a good idea to have one, so I'll open an issue to create a FAQ page or something similar. However, meanwhile feel free to open an issue, ping me or just open a discussion in the Elixir forum.

Yes, distributed cache means setup and run the cache across multiple nodes, in cluster (they might be logical or physical nodes). But there are seve

[2018-09-05 15:34] cabol commented on #23
This adapter is being implemented in its own repo: https://github.com/cabol/nebulex_redis_adapter

[2018-10-02 14:55] zacksiri opened #26 "Cache Failing to Start on Production"
I'm getting the error as referenced here https://github.com/cabol/shards/issues/41

It's working fine in development, however in production it's failing, I'm using distillery to make my production build.

[2018-10-02 15:37] cabol commented on #26
@zacksiri I think it is due to `distillery` (https://github.com/bitwalker/distillery/issues/55).

Try to add `:shards` and `:ex_shards` to your included apps in your `mix.exs`, like so:

[code]

[2018-10-02 16:08] zacksiri commented on #26
I upgraded to master and added `:shards` seems to be working thank you!

[2018-10-02 16:08] #26 closed

[2018-10-03 00:10] zacksiri opened #27 "Performance Problem."
I tried switching to nebulex from my hand-rolled version using redis. There was quite a performance hit. The 3 bottom results were before nebulex, and everything on top is nebulex results.

<img width="244" alt="screen shot 2561-10-03 at 07 09 08" src="https://user-images.githubusercontent.com/134488/46383598-591cd780-c6db-11e8-83af-c1f6e9be971f.png">

[2018-10-03 00:59] cabol commented on #27
@zacksiri please give me more details about your environment and config, for instance, how many nodes, what cache topology are you rolling out (partitioned through the distributed adapter maybe?), what operations are you testing, how are you running the tests, in other words, if you can share some example code would be the best.

On other hand, a single docker container, 1 core could be limited, r

[2018-10-03 01:28] cabol commented on #27
@zacksiri in that case it is weird, maybe as you mentioned there might be something in the environment, check this link: https://github.com/cabol/nebulex_examples/tree/master/nebulex_bench

There you will see the last bench I ran using the local adapter, you can run the bench tests again in your environment to compare (also there is a description about the environment I used)

Also, you can check

[2018-10-03 05:11] zacksiri commented on #27
Yeah I’m going to run some benches, with Redis the service is on a different node, but moving to nebulex means all the load is in 1 place so all the calls to the cache might add up, for that reason add to the response time. I will do some further research.

[2018-10-03 13:03] cabol commented on #27
As far as I understand, you are using the local adapter right? So you are running the tests on a single node, which make sense, you are trying to bench Nebulex locally (single-node), which is fine. The problem is, the node you are using is super small, what I'd do is the same test, but using bigger instances or nodes. For example, in my laptop (4 cores, 8 GB RAM, 256 SSD) I got this bench results

[2018-10-03 19:03] zacksiri commented on #27
I’m going to recreate the node using a container and limiting the cpu to 1 core. To compare to your results. Haven’t had the time today, I’ll let you know what I find.

[2018-10-03 19:14] cabol commented on #27
That sounds good, stay tuned !!

[2018-10-08 23:57] zacksiri commented on #27
Hey here are the results for 1 core inside the container. it is significantly slower than when I run it on my laptop. on my local laptop I'm getting similar results to yours.

[code]

2 Cores

[code]

4 Cores

[code]

[2018-10-09 00:18] zacksiri commented on #27
I just tried on 2 different cloud providers, I'm getting very similar results between them. this one I posted is actually better.

[2018-10-09 13:46] cabol commented on #27
@zacksiri awesome, that's good to know, I like this kind of issues a lot, because they help you to improve or discover bugs, or new issues, but I'm glad to hear you were able to fix your issue. Any further issue(s) don't hesitate to ping me o r open a new issue.

On other hand I'm also glad Nebulex is being useful for you (that's the goal) and I'd really appreciate if you cover it in you Elixir Fo

[2018-10-09 13:57] zacksiri commented on #27
So just to complete the issue with a screenshot.

everything above 54e5fc6 is with nebulex everything below is redis. Ignore the first request that says 156ms that has to make the initial network call to cache a token, everyhing after that call is using nebulex cache.

![screen shot 2018-10-09 at 20 54 26](https://user-images.githubusercontent.com/134488/46674142-a16d5580-cc05-11e8-93a1-561a9e3595

[2018-10-09 14:03] cabol commented on #27
:thumbsup:

[2018-10-16 21:05] nsweeting opened #28 "Random test failure - UndefinedFunctionError"
### Environment

Elixir version (elixir -v): Elixir 1.7.3 (compiled with Erlang/OTP 21)
Nebulex version (mix deps): 1.0.0-rc.3
Operating system: Ubuntu 18.04

### Expected behavior
Fetching a key from the cache should return nil or an already cached value.

[code]

### Actual behavior

The other day, I was running some tests locally, and had this error pop up.

[code]
It actually ended up occurrin

[2018-10-16 21:51] cabol commented on #28
@nsweeting can you copy some code, for example `App.DistCache.execute/2` and `ResourceURL.get_admin_url`, I need to check out that code, thanks!

[2018-10-17 18:59] nsweeting commented on #28
@cabol

We have a resource url protocol:

[code]
With an implementation done for Product structs.

[code]

Which calls our cache containing the errored `get/2` function.

[code]

And finally, the nebulex cache module:

[code]

[2018-10-17 20:46] cabol commented on #28
@nsweeting about the second question:

[2018-10-18 12:49] nsweeting commented on #28
During the test runs, it was running on a single node.

[2018-10-18 14:03] cabol commented on #28
Ok, but yes, that error looks very weird, let me try to reproduce it, meanwhile, can you try but with the master branch? There have been several improvements, and perhaps we can have better info about the error. Pls let me know your results, stay tuned!

[2018-10-22 13:01] cabol commented on #28
@nsweeting any news? On other hand, help me with this, the Nebulex cache `App.DistCache` you copied, is it using `Nebulex.Adapters.Dist`? If so, you need also to define another cache with a local backend, where is that Nebulex cache using `Nebulex.Adapters.Local`? Or is `App.ResourceURLCache` your local Nebulex cache? If so, I have some comments about it, but let's confirm that first. BTW, may you

[2018-10-24 20:17] nsweeting commented on #28
Got hit by the error I described above running the tests just a moment.

[code]

Different - but the same.

[2018-10-24 20:59] cabol commented on #28
@nsweeting ok, I have some suspicious, one of the possible reason this might be happening is that maybe the local cache for the distributed one is being stopped before the function is completed, maybe a race condition in the test, but I don't know how you are starting and stopping the cache(s) in your tests. But I think we can test it out easily, in your test case, add a `try rescue` wrap in `App.

[2018-10-26 19:47] cabol commented on #23
[Nebulex Redis Adapter](https://github.com/cabol/nebulex_redis_adapter) is in good shape now, hence I'll close this issue. Anything regarding to Redis adapter should be reported in that repo.

[2018-10-26 19:47] #23 closed

[2018-10-27 20:48] cabol opened #29 "Adapter for Mnesia"

[2018-10-29 13:38] #1 closed

[2018-10-30 17:17] cabol commented on #28
@nsweeting any news?

[2018-11-01 15:17] cabol commented on #28
Heads up! version `1.0.0` was released already, you should try it out!

[2018-11-06 18:42] cabol commented on #28
@nsweeting I think I have an idea what might be happening. Perhaps is related to the generations manager, maybe at the same time a new generation is pushed a new command is being processed, when a new generation is created, there is a moment (very small) where the ETS tables are removed, hence, if for some reason there is a command being processed, it will fail with `ArgumentError`. It is very wei

[2018-11-08 01:13] cabol opened #30 "Fix documentation about hooks"
Options `:pre_hooks_strategy` and `:post_hooks_strategy` were removed, now the strategy is pass it along with the list of hooks, like so:

[code]

[2018-11-12 17:32] cabol opened #31 "Add dialyzer and credo checks to the CI pipeline"

[2018-11-23 21:33] nsweeting commented on #28
Sorry for the delay. Yes - its configured with the `gc_interval: 86_400`, and the tests do finish before then. And yeah - it seems to only occur while running tests. I have yet to see the error pop up in staging or production.

[2018-11-23 21:39] nsweeting opened #33 "has_key?/1 does not respect ttl"
### Environment

Elixir version (elixir -v): Elixir 1.7.3 (compiled with Erlang/OTP 21)
Nebulex version (mix deps): 1.0.0
Operating system: Ubuntu 18.04

### Expected behavior
Using `has_key?/1` on a key that was set with a ttl should return `false` when the ttl has expired.

### Actual behavior

[code]
[code]

[2018-11-24 12:56] cabol commented on #33
@nsweeting good catch! It is fixed now (master branch). Please check it out again and feel free to re-open it if the problem persist.

[2018-11-24 12:56] #33 closed

[2018-12-05 21:39] sdost opened #34 "Multilevel Cache: replicate/2 is attempting to subtract from :infinity"
## Environment

Elixir version (elixir -v): Elixir 1.7.4 (compiled with Erlang/OTP 21)
Nebulex version (mix deps): 1.0.0
Operating system: Debian Stretch

## Expected behavior
Fetching a key from the cache should return nil or an already cached value.

`Cache.get({:get_route, ~D[2018-12-05], "1", [solver_settings: nil]})`

## Actual behavior
[code]

## More information
[code]

The above function i

[2018-12-05 22:05] sdost opened #35 "Multilevel Cache: transaction/3 is attempting to change all levels multiple times."
## Environment

Elixir version (elixir -v): Elixir 1.7.4 (compiled with Erlang/OTP 21)
Nebulex version (mix deps): 1.0.0
Operating system: Debian Stretch

## Expected behavior
Operations wrapped in a transaction should occur once.

[code]

## Actual behavior

[code]

## More information

[code]

The above code seems to try to run the transaction operation for all cache layers, but since each other

[2018-12-06 01:02] #34 closed

[2018-12-06 01:05] cabol commented on #35
Yes, the current implementation is very naive, it should be like you describe. I will try to fix it as soon as possible. Thanks :)

[2018-12-06 01:57] cabol opened #37 "The `:infinity` atom is being set for unexpired object when is retrieved from an older generation"

[2018-12-06 02:13] cabol commented on #34
@sdost I found the root of the issue, where the `:infinity` was being set and then returned. It is fixed on master and this is the [commit](https://github.com/cabol/nebulex/commit/99da9177425dcc5b2c021970ea3c715f584ce8f9). Please check it out again, and feel free to re-open this issue if the error persist for you. Thanks!

[2018-12-06 02:16] #37 closed

[2018-12-06 03:03] sdost commented on #34
Fantastic! Thanks for looking into it!

On Wed, Dec 5, 2018 at 9:13 PM Carlos Andres Bolaños R.A. <
notifications@github.com> wrote:

--
---------------------------------------------------------------------------------------------
Samuel R. Dost
samuel.dost@gmail.com
(347) 365-0829
---------------------------------------------------------------------------------------------

[2019-01-10 22:11] cabol opened #39 "Caching utility macros: `defcacheable`, `defevict` and `defupdatable`"
Implement utility macos:

### `defcacheable`

Defines a cacheable function with the given name `fun` and arguments `args`. The returned value by the code block is cached if it doesn't exist already in cache, otherwise, it is returned directly from cache and the code block is not executed.

[code]

### `defevict`

Defines a function with cache eviction enabled on function completion (one or all val

[2019-01-11 12:00] #39 closed

[2019-01-11 21:44] zdenal commented on #26
@cabol ... could be this added also into [getting started](https://hexdocs.pm/nebulex/getting-started.html) and [Nebulex](https://hexdocs.pm/nebulex/Nebulex.html) documentations. I have solving today same issue which was raise only on staging/production release and this helped.

[2019-01-13 22:34] cabol commented on #26
@zdenal sure, let me try to find a good place to add it!

[2019-01-26 18:45] cabol opened #40 "Add support to define `:opts` in `defcacheable` and `defupdatable`"

[2019-02-07 18:45] vasuadari commented on #22
I would like to work on this. Has someone picked this up already?

[2019-02-08 05:30] cabol commented on #22
@vasuadari not yet, I'm glad you want to work on it :), so feel free to do it. I've made a bit of progress [nebulex_memcached_adapter](https://github.com/cabol/nebulex_memcached_adapter), but I haven't been able to continue. So again, feel free to start your own repo or work on the existing one (it's your call!). Any doubt please let me know. Thanks and I stay tuned!

[2019-02-08 05:44] vasuadari commented on #22
Thanks

Sure 👍

[2019-02-16 11:21] cabol opened #42 "Add support to evict multiple keys from cache in `defevict`"

[2019-02-16 11:23] #42 closed

[2019-03-03 10:43] vasuadari commented on #22
@cabol I have created a new repo <a href="https://github.com/vasuadari/nebulex_memcached_adapter" target="_blank">here</a>. Except for `Nebulex.Cache.Queryable` every other functions are supported however there is one catch with `get_many` implementation for `memcached`. Although `memcached` provides `multi_get` call unlike `redis` it doesn't return nil for missing keys which is the problem. As a

[2019-03-04 19:34] cabol commented on #22
@vasuadari looks very good so far, nice work 👍

[2019-03-05 12:02] vasuadari commented on #22
@cabol

Thanks :)

Sure, i'll spend some time on that.

Definitely i was planning to set it up but couldn't find time. Will set it up soon.

Sure 👍

[2019-03-17 15:14] cabol commented on #28
@nsweeting any news? in the meantime, I'll close this issue, but feel free to re-open it again!

[2019-03-18 12:51] nsweeting commented on #28
No news. Thanks for checking in. I dont recall it happening in a while - but yeah - I'll just reopen if I run across it and have time to dive in a bit. :+1:

[2019-03-19 18:11] nsweeting commented on #28
@cabol - So I just had it happen on another test run. I think I might have tracked down what the issue is. It has changed a little bit - most likely from recent PR's. So, at the moment, it has transformed into a general argument error:

[code]

Which I believe is as a result of: https://github.com/cabol/nebulex/blob/1f439e2c8308fb029e2cbcab4cc4c160f5485629/lib/nebulex/adapters/dist/rpc.ex#L18-L26

[2019-03-19 18:53] cabol commented on #28
Ok, I'll take a look at it and try to figure out what's going on. Thanks for the info :) !!

[2019-03-19 21:01] cabol commented on #28
I was checking out the `Task.Supervisor` options, and apparently the `:max_children` is `:infinity` by default – https://hexdocs.pm/elixir/DynamicSupervisor.html#init/1-options

Anyways, I will fix the adapter at least to allow to pass the supervisor available options.

[2019-03-20 03:49] cabol opened #43 "Turn `Nebulex.Adapters.Dist.RPC` into a reusable utility"
The idea is to turn `Nebulex.Adapters.Dist.RPC` into a reusable utility, so it can be re-used by other adapters in a better way.

[2019-03-20 15:11] nsweeting commented on #28
Sorry - you are correct! Not quite sure where I got that assumption from...

[2019-03-20 16:14] cabol commented on #28
NP, actually it did make sense. Do you think is possible to give me more details about the tests? I'm not sure if maybe there might be a race condition or something, in which the cache is stopped while other test is still running, I don't know. So if you can give me more details or even paste some code related to the tests you are running, that would be very helpful. Thanks!

[2019-03-23 00:20] #43 closed

[2019-03-23 00:23] cabol opened #44 "Turn `Nebulex.Adapter.NodeSelector` into a generic hash behavior `Nebulex.Hash`"
The idea is to refactor `Nebulex.Adapter.NodeSelector` to make it a generic hash behavior: `Nebulex.Hash`, in such way it can be reused easier from other adapters.

[2019-03-23 00:27] #44 closed

[2019-03-23 00:34] cabol opened #45 "Write a guide for `Nebulex.Caching`"
The idea is to write a guide for `Nebulex.Caching`: `/guides/caching-patterns.md`. The idea is to explain how it works, how `Nebulex.Caching` implements [Cache-Aside Pattern](https://github.com/ehcache/ehcache3/blob/master/docs/src/docs/asciidoc/user/caching-patterns.adoc#cache-aside), etc. Also, provide usage examples.

[2019-04-17 04:18] bbassett opened #46 "custom ttl on mulltilevel cache gets overwritten"
Hi cabol! thanks so much for the work you've put into this. I've found a weird bug that i can't sort out. I have a `Mutlilevel` cache with `Local` and `Dist` adapters implemented, just the same as in your examples, but if i set a custom `ttl` on a record, when i `get` that record, the `expire_at` value gets overwritten to be something similar to `desired_ttl - (DateTime.utc_now() |> DateTime.to_un

[2019-04-17 14:18] cabol commented on #46
@bbassett thanks for report the issue, I'll take a look at it soon!

[2019-04-19 18:28] queer opened #47 "Will nebulex support replicating cache partitions?"
I'm sorry if this has been asked before; I couldn't find it with a quick search.

My question is pretty much just the title. I have a real use-case for wanting to be able to replicate partitions - as a full replication à la #15 would require too much RAM usage - and I also don't have the ~~brain power~~ time/knowledge to write a partition replicator that I would have any confidence in. I'm also so

[2019-04-20 13:31] queer commented on #47
Never mind; I think my problem would be more suited to something like `riak_core`.

[2019-04-20 13:31] #47 closed

[2019-04-22 16:36] cabol commented on #47
@queer about your question, yes, Nebulex will eventually implement [replicated topology](https://docs.oracle.com/cd/E16459_01/coh.350/e14510/replicatedcacheservice.htm) via #15 (adapter).

Indeed, actually memory consumption is one of the downsides of the replicated topology.

NP, thanks for the interest :)!! Replicated topology impl is in progress now (we hope to have a first draft very soon), an

[2019-04-24 17:48] cabol commented on #46
@bbassett I think the bug is fixed now. Please try it out again and let me know if the issue persist. Thanks :) !!

[2019-04-24 18:17] cabol commented on #22
Since there is significant work already done for this adapter and a different repo [nebulex_memcached_adapter](https://github.com/vasuadari/nebulex_memcached_adapter), any issue, improvement, suggestion, etc., regarding to Memcached adapter should be reported in there.

Thank you so much @vasuadari for your contribution :) !!

[2019-04-24 18:18] #22 closed

[2019-04-24 18:25] cabol commented on #28
@nsweeting any news? Did you check the previous suggestion ^^^? Perhaps we should close this issue in the meantime, while we have more info and a clear way to reproduce the error.

[2019-04-26 13:14] nsweeting commented on #28
Sorry - no news. The application in question has stabilized, so less day-to-day work is currently occurring. Have not noticed the error in a while though. Will close for now. Sorry - this issue snowballed into a giant thread!

[2019-04-26 13:14] #28 closed

[2019-04-26 14:42] cabol commented on #46
I will close the issue for now, feel free to re-open it if the problem persist.

[2019-04-26 14:42] #46 closed

[2019-04-28 21:18] queer commented on #47
As it turns out, I've come full-circle back to Nebulex, as I've not been able to get `riak_core` working :sweat_smile:

[2019-04-29 18:07] cabol commented on #47
:smile: Yeah, get `riak_core` working may be a bit tricky. If you want to continue with `riak_core`, perhaps I have a couple of projects that might help: [erlbus v0.1.0](https://github.com/cabol/erlbus/tree/0.1.0) and [west](https://github.com/cabol/west). But anyways, the `mnesia` adapter is in progress, I hope to publish a draft version very soon.

[2019-05-06 19:29] cabol opened #48 "Refactor flush action in the local adapter to delete all objects instead of deleting all generation tables"
Currently, the `flush` action in the local adapter deletes all generation tables which may cause problems, hence, the idea is to remove all objects instead of deleting the tables.

[2019-05-06 19:54] #48 closed

[2019-05-08 17:29] nsweeting opened #49 "Ability to "get or set" a key"
A common caching scenario is to attempt to get a key, and if it doesnt exist, set it. This could quite easily be implemented with something like the following:

[code]

[code]

If this is something of interest, I could look at implementing it soon.

[2019-05-08 17:55] cabol commented on #49
@nsweeting I like the idea! And yes, please implement it, and send the PR!!

I would suggest two things:
1) For the transaction, pass the `keys` option to lock only that specific key (not the whole cache).
2) For the second argument, allow receiving a value too (`function_or_value`)

Something like:

[code]

I like the idea because is useful and easy to implement. Looking forward to your PR :) !!!

[2019-05-08 18:50] cabol commented on #49
You know, actually, I'd rather make it simpler, just receiving the value, like so:

[code]

And you can execute the fun before to call it:

[code]

What do you think?

[2019-05-08 19:05] nsweeting commented on #49
Actually - my main reason for doing something like the above was to avoid database calls. If its able to receive a function as well -  it can be lazily evaluated - only hitting the db on key miss.

I think passing either a function or value could work though. The function should only be run on key miss though - as it may be a heavier operation.

[2019-05-08 19:52] cabol commented on #49
Ok I see, agreed, let's keep the function then, I'm not sure about the value now :P ... Based on what you say, which makes a lot of sense, I don't know if we should support the value as well, I think the function is generic enough, it would act as a "fallback function". So your original idea is OK, just adding the option `keys: [key]`.

On the other hand, based on your original reason:

Why if you

[2019-05-09 15:01] BartOtten commented on #18
I checked this issue last night(finally), but the current behavior does not seem to fix it.

It's true the key is deleted from all caches of the  node delete/2 is called at (node 1), but if one of the other nodes (node 2.....x) already did a get/1 they will still return the value as they still have the key in their local cache.

The  expected  behavior is that when delete is called at node 1, no m

[2019-05-09 15:10] cabol commented on #18
So if I understand correctly, the issue is when you have a Near cache, which is, a multilevel cache where the L1 is the local one and the L2 is the distributed one. And, when you perform a `delete` from Node1, it is deleted from the Node1 local cache and also deleted from the distributed cache in the rest of the nodes, BUT only the distributed cache, not from the local cache in the other nodes.

I

[2019-05-09 15:33] cabol commented on #18
@BartOtten I was looking into the [NearCache topology documentation](https://docs.oracle.com/cd/E14526_01/coh.350/e14510/nearcache.htm#COHGS229), and there are 4 possible strategies for keys invalidations. The current strategy implemented is the first one, which is **"none"**:

So it would be nice to support another strategy to tackle this issue out, maybe the **"Present"** strategy:

This strateg

[2019-05-09 15:37] cabol opened #50 "Implement Present strategy for invalidation in NearCache topology"
Based on  [NearCache topology documentation](https://docs.oracle.com/cd/E14526_01/coh.350/e14510/nearcache.htm#COHGS229), implement the **"Present"** strategy

This also addresses issue #18

[2019-05-09 15:44] nsweeting commented on #49
Actually - wasnt aware of the cacheable feature! For sure useful.

Still worth implementing? For those that might have a slight aversion to custom macros :smile:

[2019-05-09 16:09] cabol commented on #18
I'll close this issue so we can continue the discussion and follow up of this #50

[2019-05-09 16:09] #18 closed

[2019-05-09 16:26] cabol commented on #49
Yeah, I think still worth, let's do it!

[2019-05-11 00:19] #45 closed

[2019-06-08 19:24] fire opened #51 "Adapter for FoundationDB"
Hi Cabol,

I was wondering what approach should I go to implementing an adapter for FoundationDB?

Thanks.

[2019-06-08 23:06] cabol commented on #51
Hey @fire, well I haven't worked with FoundationDB yet, but overall, I'd suggest:

- Review the `Nebulex.Adapter` behaviour and try to map the basic cache callbacks to the provided FoundationDB API. I would start with `init` (here is where you have to initialize your client to connect to FoundationDB), `get`, `set`, `delete` and so on. I don't know if there is an existing FoundationDB client for E

[2019-06-12 20:48] jvoegele opened #52 "Sporadic :badarg error"
I'm experimenting with Nebulex multi-level caching with the following structure:

[code]

and the following configuration:

[code]

This configuration seems to work fine for the most part, but I get occasional error messages in my console that look like this:

[code]

Any idea what the issue might be?

[2019-06-12 22:51] cabol commented on #52
Let me try to reproduce the error to see what could be happening.

[2019-06-13 02:50] cabol commented on #52
I've been trying to reproduce the error but nothing, perhaps you should give me more details about how are you testing it, did you run the app with the cache and then executing some commands via console?

The error itself is because the `gc_collector` is trying to create a new generation with a name that already exists, which should have been removed, it is very weird. Is there a chance to can giv

[2019-06-13 13:30] jvoegele commented on #52
Thanks for looking into this. Unfortunately I cannot share a link to the codebase in which I'm experiencing this issue, as it is a private application that relies on several other private applications and libraries to do its work. However, through some further experimentation, I have found a simple way to reproduce the issue consistently. All I need do is, in the console, call the `flush()` functi

[2019-06-13 13:34] cabol commented on #52
Yes, absolutely, that's enough info, I'll try, thanks :) !!

[2019-06-13 14:13] cabol commented on #52
I found the issue, just pushed the fix to master.

[2019-06-13 14:18] jvoegele commented on #52
Awesome! Thank you very much.

[2019-06-13 14:45] cabol commented on #51
Any progress with the adapter? Do you have a GH repo to take a look at it? or is it a private project?

[2019-06-13 14:46] jvoegele commented on #52
I tested the fix on master and all is good! Thanks again.

[2019-06-13 15:03] cabol commented on #52
Awesome! I will close the issue then! Thanks!

[2019-06-13 17:48] fire commented on #51
I only have limited bandwidth to work on this, so the plan is to get a few hours in the weekend.

[2019-06-13 17:52] cabol commented on #51
Cool, so in the meantime, I will close this issue!

[2019-06-17 17:59] jvoegele opened #53 "Add capability to limit cache size"
In order to prevent memory usage from growing out of control, it would be nice to be able to limit the size of Nebulex caches. If the size limit has been reached, then a new item cannot be added to the cache without evicting some other item from the cache first. Eviction policy could be LRU, LFU, or perhaps based on generation.

Ideally, the size limitation would be in terms of the actual amount o

[2019-06-17 18:11] cabol commented on #53
Agreed, that would be a nice feature. I will investigate what would be a good way to implement it (the size limitation can be done in terms of the actual amount of memory occupied in bytes or either based on the number of keys, maybe both?)

[2019-06-23 16:13] fire commented on #51
I have today to play with this.

https://github.com/ananthakumaran/fdb Is the elixir client.

Question: Should I use the direct foundation database layers or through a mongodb translation?

- [ ] init
- [ ] get
- [ ] set
- [ ] delete

Note: Everything in fdb is in a transaction. Batching?

[2019-06-23 16:17] fire commented on #51
Directories are supported.

* https://hexdocs.pm/fdb/FDB.Directory.html#summary
* https://apple.github.io/foundationdb/developer-guide.html#directories

[2019-06-23 16:20] fire commented on #51
# init

[code]

[2019-06-23 16:25] fire commented on #51
Get and set reference code:

[code]

TODO: Convert to directory in FDB instead of subspaces.

[2019-06-23 16:36] fire commented on #51
Created a git repo.

Install FDB on Windows.

https://www.foundationdb.org/download/

Install elixir from chocolatey.

Ensure visual studio 2017 is installed.

```git clone https://github.com/fire/nebulex_fdb_adapter```

Open native command prompt for Visual Studio.

[code]

[2019-06-23 17:02] fire commented on #51
A complete example using the regular foundation db api without the directory layer.

[code]

[2019-06-23 17:28] fire commented on #51
Complete example with directories in FoundationDB.
[code]

[2019-06-23 17:29] cabol commented on #51
Hey!

I don't understand the question, I haven't checked/used FDB before, so I didn't know there was a kind of "mongodb translation". But overall, I'd try to use it directly with [fdb client](https://github.com/ananthakumaran/fdb) without a translation.

Not necessary, you can just wrap up each callback impl with the FDB transaction (this is internal on each function for the adapter impl). For exa

[2019-06-23 17:39] fire commented on #51
Since the database is loaded from config files I would probably use a gen server with initial settings loaded from a configuration file or somewhere else like a cluster key set dynamically. Although I think the database object isn't shareable between different computers. Advice?

I have to look up gen servers api, I don't remember using it before.

Can you clarify?

[2019-06-23 17:43] fire commented on #51
How would I add the concept of a database storage path to the nebulex api?

[2019-06-23 17:55] cabol commented on #51
Each cache should have its own DB object. So you can use either a `GenServer` or an ETS table. In other to avoid unnecessary message passing, I'd use an ETS table (called `metadata` or something) to store everything related to DB (maybe other info aside from DDB instance/struct).

For example, within the `__before_compile__` I'd create some helper function to retrieve info like the DB instance, li

[2019-06-23 18:01] fire commented on #51
Should the ets table be namespaced with nebulex_fdb_meta?

So in Foundation Database I have this concept of a directory path. So for a particular key-value database it would be in alpha/db. My best guess is to put it in the init options to give a path, but I wasn't sure if there's a place to put stuff like that there.

[2019-06-23 18:37] cabol commented on #51
It doesn't matter, just use the name of the adapter module (`__MODULE__`).

Ok, yes, that is something you can put and then load from the config file. The important things you know you will need in the adapter, you can use `__before_compile__ `, for example:

[code]

[2019-06-23 18:56] fire commented on #51
How do you write tests for adapters?

[2019-06-23 18:59] fire commented on #51
This is the work I have. https://github.com/fire/nebulex_fdb_adapter/blob/master/lib/nebulex_fdb_adapter.ex

[2019-06-23 20:15] fire commented on #51
Currently stuck on initializing the module in am iex console. Can't seem to call the init function.
[code]

[2019-06-23 23:04] cabol commented on #51
You are calling `:ok = FDB.start(600)` within `__before_compile__ `, it hace to be within the `init callback.`

[2019-06-23 23:32] fire commented on #51
I believe the FDB.start(600) is for initializing the shared library so before_compile is correct.

After turning the fdb database to be save to ssd, the current code can now set, get and delete.

[2019-06-24 00:53] fire commented on #51
What do I return for https://hexdocs.pm/nebulex/Nebulex.Adapter.html#c:get_many/3 inside of the adapter?

[2019-06-24 01:00] cabol commented on #51
The `__before_compile__ ` is to inject code in compile-time, not to initialize things. The best place to do what you are describing is `init` callback, but it's your call!

Returns a map: `%{key => Nebulex.Object.t()}`

[2019-06-24 01:12] fire commented on #51
The problem with FDB.start(600) in the init call is it exceptions on the second call :|. According to the docs it can only be used once per elixir startup.

[2019-06-24 01:26] cabol commented on #51
I understand. Perhaps you should consider initialize it from the app using the FDB adapter. I think there should be a better way to initialize this library (C NIF), I'd suggest reviewing other options. Anyways, for the moment if within the `__before_compile__ ` works for you, I suppose it's ok, until you find a better option.

[2019-06-24 02:28] fire commented on #51
A basic set many and get many is in.

I'll ask if it's possible from the library to return the standard :ok, {:error, exception} on the FDB.start(600) code.

[2019-06-24 04:54] fire commented on #51
I'm having a hard time storing arbitrary data in the bytestring.

I was thinking of storing the keys and the values in Erlang Term format or flatbuffers. Thoughts?

[2019-06-24 05:45] fire commented on #51
I solved the problem with key "1" and value 1 not being accepted by converting all stored values to erlang binary terms.

How do you recommend benchmarking?

[2019-06-24 11:28] cabol commented on #51
Yes, when you have issues due to the data types. sometimes is better just use `term_to_binary` and `binary_to_term`.

You can use `benchee`, that's the tool I've used to include bench tests in the project. Check out:
- https://github.com/cabol/nebulex/blob/master/benchmarks/benchmark.exs
- https://github.com/cabol/nebulex_redis_adapter/blob/master/benchmarks/benchmark.exs

[2019-06-24 15:09] fire commented on #51
I created a benchee benchmark, but I don't understand how to make the system use more than one core.

The nebulex system doesn't seem to use a threadpool.

![fdb-nebulex-elixir](https://user-images.githubusercontent.com/32321/60030167-59894400-9657-11e9-864e-ef6db8faf390.PNG)

[2019-06-24 15:15] cabol commented on #51
First of all, threadpool? If you meant be able to use the multicore arch, it is not about Nebulex, you have to configure the Erlang VM (e.g.: `-smp auto`)

[2019-06-24 15:19] fire commented on #51
I mis-spoke, I mean when I run the benchmark it only causes 100% one core in the system monitor.

Not sure where in the system it is being limited.

[2019-06-24 15:54] fire commented on #51
I was mistaken, I only started one FDB server process, I should start a number related to the number of cores on my computer.

[2019-06-24 17:57] cabol commented on #51
Oh, I see, but IMHO that's something the library should handle. anyways, I'm glad that it is working for you now 😄 !!

[2019-06-25 14:10] yuraxdrumz opened #54 "Multi Level with dist not working as expected"
Hey, great project!
I have 2 nodes running with multilevel, each has local cache + dist and Redis as a backup.
Lets say one node goes down and then back up, from my understanding it is supposed to check local cache which is empty so it goes to distributed and should take the value from the 2nd node without going to Redis, but in my situation I see it goes straight to Redis and skips dist. Maybe I

[2019-06-25 14:57] cabol commented on #54
Thank you so much 😄

Lets say one node goes down and then back up, from my understanding it is supposed to check local cache which is empty so it goes to distributed and should take the value from the 2nd node without going to Redis, but in my situation I see it goes straight to Redis and skips dist. Maybe I misunderstood the usage?

The distributed adapter implements a sharding distribution model

[2019-06-25 15:12] yuraxdrumz commented on #54
Thanks for the quick response!
Yep, I guess I missed the part where it is not replicated, of course it makes sense. I just tested placing random keys and restarting the node, it had only several of them, which explains the sharded but not replicated. Works like a charm, thanks a lot!

[2019-06-25 15:12] #54 closed

[2019-06-25 16:17] cabol commented on #54
Excellent 😄 ... The `mnesia` adapter will be implemented very soon, and that one will provide full replicated topology. Furthermore, I have in the roadmap implement some kind of replication for the currently distributed adapter (sharding + replication factor).

[2019-06-25 17:26] yuraxdrumz commented on #54
Awsome. I would love to contribute, although I am new to Elixir :)

[2019-06-25 17:57] cabol commented on #54
It would be great, any contribution is welcomed!

[2019-06-26 16:07] fire commented on #51
Something is weird on benchee:

* get does 2157 iterations per second
* get_many does 247.64 iterations per second

Any ideas?

Guesses:
* get_many does each fetch sequentially before returning

[2019-06-26 16:27] cabol commented on #51
Indeed, that depends on the adapter implementation, for the local adapter since it is based on ETS tables, there is no way to perform a `get_many` in constant time, the complexity is O(N). Same happens in Redis, but the thing is in Redis you can just execute one command but internally the complexity is O(N).

[2019-06-26 18:25] yuraxdrumz commented on #53
Hey,
It is a very nice feature to have and to create an initial implementation, I referenced our beloved Redis eviction policy. Maybe we can start with an LRU cache like in Redis.
The flow goes like this:
1. expire is called on some key or if memory limit reached or if some upper threshold we decide
2. sample N keys (Redis uses 5 usually) to populate a pool of best keys to evict of M keys (16 in R

[2019-06-26 22:52] cabol commented on #53
Hey, thanks for the detailed suggestion, sounds very good 👍 . At this stage is nice to receive proposals in order to have a better idea of what path to follow. I will definitely review it more in details and try to start working on this very soon!

On the other hand, independent of implementation, I was thinking to add it in a pluggable and/or configurable way, taking advantage of the hooks plug t

[2019-06-27 05:33] fire commented on #51
Why does your benchee get_many always from 1 to 10 keys? Doesn't this cause problems?

[2019-06-27 09:42] yuraxdrumz commented on #53
Sounds great, the only thing I am worried about is performance, but that can be easily tested with benchee. I will try and find some time this week and implement a proof of concept for this.

[2019-06-27 11:22] cabol commented on #53
Indeed, that's why I was thinking of something like, with a post_hook send events (detailed event with the command info) to a GenServer (using `GenServer.cast`), and perform the logic there.

That would be awesome!

[2019-06-29 14:39] fire commented on #51
I integrated poolboy.

Benchee seems inaccurate. The database server queries stats is much higher than the operations per second in benchee.

[2019-06-30 06:20] fire commented on #51
I will look for another benchmarking tool, benchee requires custom formatters to get accurate numbers and is hard to use. The fdb elixir library maintainer was able to explain why the fdbcli status numbers didn't match the benchee numbers.

[2019-06-30 13:35] cabol commented on #51
I'd suggest [basho_bench](https://github.com/mrallen1/basho_bench), for load tests and benchmarks the tool is great, I've used it several times. This is an example (to run load tests for Nebulex) [nebulex_bench](https://github.com/cabol/nebulex_examples/tree/master/nebulex_bench).

[2019-07-28 21:24] cabol commented on #53
I implemented a simple solution for now (we can add more improvements later). Following the same idea of the generational cache, I created two options to control/limit the cache size:

* `:generation_size` - Max size in bytes for a cache generation. If this option is set and the configured value is reached, a new generation is created so the oldest is deleted and force releasing memory space. If i

[2019-07-29 12:24] fire commented on #51
The adapter works, but it's not ready for production. The documentation isn't great and the project using is on standby.

However, the fdb adapter works!

[2019-07-29 12:24] #51 closed

[2019-07-29 12:43] cabol commented on #51
Awesome 😄 !!!

[2019-07-29 16:07] cabol commented on #35
I've added a fix for this transactions issue, it was like an overall improvement for all built-in adapters (especially for the multilevel one). So please try it out again and let me know if it works for you. I stay tuned for your feedback!

[2019-07-30 12:18] cabol commented on #35
In the meantime, I'll close this issue, but feel free to re-open it if you find the problem persists or in case of any error, etc.

[2019-07-30 12:18] #35 closed

[2019-08-07 14:25] cabol commented on #53
In the meantime, I will close this issue, feel free to re-open it if the solution is not behaving as expected or you have any other suggestion. Thanks 👍

[2019-08-07 14:25] #53 closed

[2019-10-18 08:44] polmiro opened #55 "Add matching option on returned result to Nebulex.Caching"
There is a use that I believe is fairly common that I do not think fits in the `Nebulex.Caching` macro DSL.

Sometimes one wants to conditionally cache a value based on the result of the underlying function logic. This is easy to achieve by using the lower-level APIs `Cache.get` and `Cache.set` but it is fairly verbose and repeatable. Also, I was really enjoying the `Nebulex.Caching` DSL.

In my s

[2019-10-18 17:03] cabol commented on #55
Hey @polmiro, that looks like a very nice feature!

Absolutely it's worth it, please send the PR! Again, this would be a very nice and useful feature, thanks!

Thank you so much, glad to hear that!

[2019-10-21 10:40] polmiro commented on #55
Closing in favor of the PR then :)

[2019-10-21 13:44] #55 closed

[2019-10-30 06:25] #49 closed

[2019-11-01 15:25] eamonpenland opened #57 "Pre Expire Hook"
Im trying to implement a delayed queue. I was thinking I could maybe add items into the cache with a ttl, and before expiration get a pre-expire or pre-evict callback to do what I need to do with the items. It doesn't appear like this is supported. Any ideas?

[2019-11-03 12:16] cabol commented on #57
Yeah, unfortunately that's not supported for the current adapters, it is very specific and also depends on the cache and adapter implementation. There might be caches that gives you that information via events (subscriptions), and normally they tell you when a key expires, but not X period of time before it expires. So, for this specific use case you have to implement something at application leve

[2019-11-11 11:23] #57 closed

[2019-11-14 19:42] cabol opened #60 "Implement adapter for replicated topology"

[2019-11-19 11:37] cabol opened #61 "Support for persistence operations"
New callbacks to `Nebulex.Cache`:

[code]

And a new behavior `Nebulex.Adapter.Persistence` with the callbacks:

[code]

And provide the implementation for them for the current built-in adapters.

[2019-11-21 20:05] cabol opened #62 "Add telemetry integration"
Perhaps create a separate repo `nebulex_telemetry`, and use pre and/or post hooks for the implementation.

[2019-12-05 13:07] fabiosantoscode opened #63 "Question: disabling cache conditionally in defcacheable"
Hello there!

I would like to turn a defcacheable function into a pass-through function when I'm in development, and turn on cache only in staging/production. My current environment is stored in the application config, so it's accessible at the time the macro is expanded. I'm a bit new at Elixir, so my attempt at a macro didn't prove very successful :)

The best solution I could come up with was t

[2019-12-05 13:46] cabol commented on #63
Unfortunately, there isn't, that's a very specific use-case, so yes, it is something should be handled by you. The solution you came up with looks fine, overall if you want to address it at compile-time, you have to check the env to inject the desired behavior. Another similar option could be wrapping the whole function definition up, like:

[code]

In that way, the env is not checked every time t

[2019-12-05 14:06] fabiosantoscode commented on #63
Cool, thanks!

[2019-12-05 14:06] #63 closed

[2020-01-23 23:39] sheharyarn commented on #29
Was wondering if there has been any activity on this front? We recently felt the need for persistence in our cache layer and was wondering how easy would it be to get Mnesia working with Nebulex.

And thank you for the amazing package. I absolutely love Nebulex!

[2020-01-24 06:53] cabol commented on #29
Hey @sheharyarn, glad to hear that, thanks a lot :) !!

On the other hand, about the Mnesia adapter ...

Right now it is kind of stuck, there have been other priorities, so a raw estimation to get it done could be 2-3 months. But this is on the top of the coming features for Nebulex along with the instrumentation via Telemetry.

I'd say it is easy, at least it shouldn't be that hard, there are a l

[2020-02-12 15:42] hugomatinho commented on #52
We are getting the same behaviour in the latest version 1.1.1

with the same way of reproducing

call the flush() function on the cache, either on the level 1 cache (Cache.L1.flush()) or on the multi-level cache (Cache.flush()).

consistently outputs the error

Note: it does clear the cache but still outputs the error

`15:01:28.184 [error] ** Task #PID<0.908.0> terminating
** Started from Amphora

[2020-02-12 15:53] cabol commented on #52
I'll take a look at it, thanks!

[2020-02-12 16:23] cabol commented on #52
@hugomatinho trying to reproduce the error using [near_cache example](https://github.com/cabol/nebulex_examples/tree/master/near_cache) which uses the multi-level adapter but it works (calling `NearCache.flush()`, `NearCache.L1.flush()`, etc., work). Could you try to reproduce the error with the example or maybe if you could provide some code in order to reproduce or it would be helpful.

[2020-02-13 12:20] hugomatinho commented on #52
Still have error even though config looks fine according to example
config.exs
`
config :amphora, Amphora.Cache,
    levels: [
      Amphora.Cache.Olympus,
      Amphora.Cache.Hestia,
    ],
    cache_model: :exclusive

  #L1
  config :amphora, Amphora.Cache.Olympus,
    n_shards: 2,
    gc_interval: 3600,
    local:  Amphora.Cache.Local.Olympus

  config :amphora, Amphora.Cache.Hestia,
    n_shar

[2020-02-17 10:47] hugomatinho commented on #52
@cabol any idea regarding the above ?

[2020-02-18 08:57] cabol commented on #52
Hey @hugomatinho , sorry, I haven't had time to look into it. I will try to check it out as soon as I can, hopefully during this week but for sure this weekend. Thanks and I'll get back to you soon!

[2020-02-23 10:28] cabol commented on #52
Hey, @hugomatinho good news, I found the bug, thank you so much for reporting it, I will push a fix today, I'll let you know when it is ready!

[2020-02-23 14:30] cabol commented on #52
@hugomatinho I just pushed the fix on the master branch, in the meantime, you'll need to point there – I'm aiming to release `v1.2.0` very soon.

On the other hand, checking out your config, I don't understand why or how you are using this:

[code]

For the 2-level cache you want, you just need:

[code]

Let me know if now it works for you, stay tuned!

Thanks 👍

[2020-02-23 16:10] seivan opened #65 "Replicated hash_slots for partitioned adapter."
I know it's a bit of a stretch since you're kinda supposed to have a record store to fill from with a cache miss, but I do wonder if it could technically make sense to cache the slot with a replication?

It might be dumb and silly, but just a thought here:
One of the reasons one might want sharding instead of replication is because it might be too much data to replicate across all nodes and hold i

[2020-02-24 21:32] cabol commented on #65
First of all, thanks for your thoughts on this 👍, they make a lot of sense and actually they open the door for other ideas as well.

The partitioned adapter implements sharding as a distribution model, which brings with pros and cons, let's talk about the cons:

- If one of the nodes of the cluster goes down, part of the data becomes unavailable. In terms of losing data, this shouldn't be a big is

[2020-02-25 10:58] cabol commented on #52
Hey, any update on this? did it work for you?

[2020-02-25 11:20] hugomatinho commented on #52
@cabol just tested it, it worked! awesome! thank you so much :) i'll have a look at the fix so i can learn as well

[2020-02-25 13:14] #52 closed

[2020-02-25 16:01] seivan commented on #65
Yep, I mentioned that with `you're kinda supposed to have a record store to fill from with a cache miss,` but I think there's a gray area here and I'll get to that later.

The consistent hashing example I posted above will be pretty unstable until 10 nodes, in which case it starts becoming stable. But if you're in an auto scaling environment you might just keep toggling between and that will cause

[2020-02-25 17:36] cabol commented on #65
I mean, that makes a lot of sense, and if we can do something to improve the current partitioned adapter that would be great. So, if you can contribute with this, either as something optional for the partitioned adapter or even as another or separate adapter (using the partitioned and/or replicated under-the-hood), it would be awesome! Looking forward to it 😀 !

[2020-03-14 09:01] #60 closed

[2020-03-14 09:02] #61 closed

[2020-03-15 13:55] cabol opened #66 "Refactor Nebulex.Caching in order to use annotated functions via decorators"
Currently `Nebulex.Caching` implements a small DSL in order to implement different cache usage patterns. But it would be better if we can achieve the same by using annotated functions, and that is possible by means of [Decorator Lib](https://github.com/arjan/decorator).

[2020-03-30 13:55] #66 closed

[2020-04-11 17:47] cabol opened #69 "Fix issue when memory check is ran for the generation manager"

[2020-04-11 17:49] #69 closed

[2020-04-29 04:49] LeeWong opened #70 "Question: Use environment variables for config"
In my use case, elixir config.exs is not accessible. Is it possible to use environment variables for setting partitioned cache configs? Thanks.

[2020-05-01 17:15] #70 closed

[2020-05-15 10:06] steffenix opened #71 "MyCache.ttl/0 is undefined or private"
It seems like the documentation is now outdated their is no `ttl/1` function on the `Nebulex.Cache` module.

Their is no function but the examples still contains it.

[2020-05-15 11:12] cabol commented on #71
Sorry, where did you find the doc about the cache function `ttl/0`? may you point it me out, please?

[2020-05-15 12:31] steffenix commented on #71
https://github.com/cabol/nebulex/blob/master/lib/nebulex/cache.ex#L835

[2020-05-15 12:47] cabol commented on #71
Oh, I see, yes, that is a mistake, the function is `object_info/2`.

[2020-05-21 21:14] bkowalk opened #72 "Asynchronous testing struggles"
Thanks for the awesome utility! Using this in a project right now. Absolutely an amazing tool.

I've run into one issue while trying to build unit tests around Nebulex - it seems that to have fully isolated and asynchronous tests, a different cache would need to be defined for each test and then injected into functions. It seems that's the case in Nebulex's unit tests as well (looking primarily at

[2020-05-22 07:51] cabol commented on #72
Hey @bkowalk, thank you very much for your comments and feedback 😄 !

It is not like that, the reason I have in the tests different caches is that I'm defining different config on them, and most of those config properties are defined in compile-time. But actually, if you take a look at the [local adapter test](), you will see it uses the same cache for the [shared object test](https://github.com/c

[2020-05-22 15:46] bkowalk commented on #72
Thanks so much for the quick response and for the help! Unfortunately, we've tried a lot of these (and I've just retried again) and are still having trouble truly isolating asynchronous test cases...

I  believe this may be the case - we've got modules throughout our app that use these locks, so we're trying to isolate all of them from each other. With `async: false`, things definitely work! Just

[2020-05-23 07:18] cabol commented on #72
I see, so I'll check if there is a better way to address it!

[2020-05-23 15:00] seivan commented on #65
Hey, sorry for the massive delay.

First off, nice work adding the decorators! I actually think it solves some of the issues (with some tweaks) I was bringing up earlier depending on how Nebulex behaves when the hashing fails because new nodes added or removed.

So let me explain my trail of thoughts and correct me if I am wrong:

1
When a node is added, which causes a key lookup to fail because t

[2020-05-23 17:50] cabol commented on #65
NP at all!

Correct, it will be considered a "miss".

Yes, in the case of the local adapter, at some point the GC will run pushing a new generation and that "unused" entry will be evicted. Normally, this is a job performed by the eviction policy implemented by the cache, in the local adapter, which is a generation cache, the eviction is cased by pushing new generations. So again, if you are using

[2020-05-25 09:04] cabol commented on #72
Hey, just a quick update, I'm working on something I think it may help to run the tests in `async` mode, I'll try to push it as soon as possible, thanks!!

[2020-05-25 13:28] bkowalk commented on #72
Wow already? You’re a freaking superhero! Thanks! Excited to see it.

[2020-06-06 19:05] cabol commented on #72
Hey! I haven't forgotten the issue, in fact, I wanted to give you some news.

The issue is fixed but it will be available since v2 because the current/previous version is very attached to resolve options in compile-time, which makes things much harder, especially for this problem. The good news is the first release candidate for v2 is almost ready, I'll publish it by the end of June. In the meanti

[2020-06-08 17:30] bkowalk commented on #72
`put_dynamic_cache` FTW! This is awesome. Just played around with our code for a while and adjusted to 2.0.0 syntax, then tried putting dynamic caches in front of our tests. All were able to run as async happily. Moving that into our case block would solve this permanently.

How far out would you ballpark a 2.0.0 release to be? Excited to get to use it! Thanks for all the awesome work on this and

[2020-06-09 09:49] cabol commented on #72
Glad to hear that 😄 !!

The first release candidate `v2.0.0-rc.0` will be published by the end of this month. Then, the idea is to let people try it out and meanwhile fix the Redis adapter to the v2 (also new features and enhancements). So most likely, the `v2.0.0` will be published by the end of August (worst case, it may be published earlier).

Thanks and stay tuned 👍 !!

[2020-06-11 01:22] filipeherculano opened #74 "Fix: Dialyzer"
## The problem

When running Dialyzer with the code snippet below, it results errors of unused guards after all the quotes have been compiled.

[code]

[code]

## The reason

When the function [caching_action](https://github.com/cabol/nebulex/blob/master/lib/nebulex/caching/decorators.ex#L228) is compiled, the IR (Intermediate Representation), that is generated, has control flow code that will nev

[2020-06-11 08:52] cabol commented on #74
@filipeherculano first of all, thanks a lot for this great contribution 😄 !! I've replied to your PR, looks very good overall, just let you a couple of silly comments and also run the CI tests before, just to ensure the CI runs without errors.

Thanks 😉 !!

[2020-06-11 17:38] #74 closed

[2020-06-11 17:47] filipeherculano commented on #74
Could you bump to v1.2.2 so I can incorporate the change safely on my project? Thanks again!

[2020-06-11 20:51] cabol commented on #74
Just published version bump `1.2.2` 🚀

[2020-07-05 09:06] cabol commented on #72
Fix already merged in master along with the base for v2.

[2020-07-05 09:06] #72 closed

[2020-07-05 09:06] cabol commented on #71
Fix already merged in master along with the base for v2.

[2020-07-05 09:06] #71 closed

[2020-07-05 09:08] cabol commented on #62
Already addressed in https://github.com/cabol/nebulex/pull/68

[2020-07-05 09:08] #62 closed

[2020-07-27 20:37] PabloG6 opened #75 "mix nebulex.gen.cache replaces everything in folder."
Just a heads up, the generator command which generates the cache for us actually deletes all existing files in the folder.

[2020-07-28 08:51] cabol commented on #75
Thanks for the heads up! I'll check it out!

On the other hand, currently, I have removed the mix tasks from the v2, I was thinking to re-implement them, so I'll take advantage of that to check what is happening. Thanks!

[2020-07-28 12:33] kurtome opened #76 "Recommended gc settings?"
Hello,

I'm trying to build a basic distributed cache (mostly so in-memory data survives to the next node during rolling deployments in the cluster), and I'm confused about the `gc_interval` setting. I'm seeing in your [getting started guide](https://github.com/cabol/nebulex/blob/master/guides/getting-started.md) examples with a `gc_interval` of 1 day, is that normal? It seems very very long to me

[2020-07-29 10:41] cabol commented on #76
Hey @kurtome !!

First of all, thanks for the positive feedback, and sure, I will try to improve the docs a little bit more according to your suggestions.

On the other hand, each scenario is different, I'd say there is no as a general rule about the what the config might be, but you're right, perhaps I can give you some advice:

1. If you are expecting high intensive usage of the cache, perhaps y

[2020-07-29 17:32] kurtome commented on #76
Thanks so much, this is very helpful!

The only thing I'm confused about now is: If I'm always setting the `:ttl` option when adding to the cache, how do those values interact with the `gc_interval:`? For example, if I add a brand new value to the cache with `ttl: Nebulex.Expire.Time(1, :hour)`, and then gc runs 1 minute later, what happens? Also, do expired `:ttl` values get removed from the cach

[2020-08-02 08:46] cabol commented on #76
That a good question, normally the `ttl:` should be lower than `:gc_timeout` precisely to avoid any unexpected behavior, like the key was expired and the `ttl:` hasn't happened yet. Assuming you have `gc_timeout` set to 2 hrs, and you are managing `ttl` of 1 hr, if something like you describe happens, _**"if I add a brand new value to the cache with ttl: Nebulex.Expire.Time(1, :hour), and then gc

[2020-08-06 19:50] zachdaniel opened #77 "Partitioned Cache + stats + multiple nodes causes failure"
The partitioned cache doesn't define a module for the local adapter, and so when it tries to RPC to another node to call a function on that local adapter, it fails. How is it supposed to work if its not defining a module?

[2020-08-06 20:26] zachdaniel commented on #77
It looks like the real problem has to do with local caches on each node trying to use the stats `ref` passed down by the parent cache.

[2020-08-06 20:27] zachdaniel commented on #77
I get an argument error whenever it uses the rpc.

[2020-08-07 12:50] cabol commented on #77
One of the changes was precisely don't depend on declaring a local cache explicitly,  instead, the partitioned adapter handless it. Now, I'm confused about your issue and I think I'll nee more details, does it happens only when you set `stats: true` or also without the `:stats` option? May you please provide the cache module and config so I can try to reproduce the issue?

[2020-08-07 12:59] zachdaniel commented on #77
Totally :) I was in a bit of a rush yesterday, but I'll get the issue reproduced in a minimal app and let you know. Specifically, this happens when I enable `stats: true` in the partitioned cache. Disabling that eliminated the error.

[2020-08-07 14:14] cabol commented on #77
Ok, got it, that info is helpful, I'll try to reproduce with that (a partitioned cache with `stats: true`), Thanks 👍

[2020-08-10 10:45] cabol commented on #77
I found the issue, I'll try to push a fix as soon as I can, thanks!

[2020-08-12 14:46] zachdaniel commented on #77
@cabol one thing you might consider: I'm not so sure you *want* stats to aggregate across nodes. We report our metrics to datadog for example, and it understands the hosts that our metrics are coming from. If every node sent the sum total of all nodes, it would be *extra* work to disambiguate that. Perhaps it would be possible to just enable stats for the primary local cache that the distributed c

[2020-08-14 08:28] cabol commented on #77
You're right, I will fix it to enable stats for the primary local cache that the distributed cache creates automatically. Besides, getting the aggregated stats should be easy, there is a function to retrieve the cluster nodes (`Cache.nodes()`), and then calling `Cache.stats_info()` for each of them.

[2020-09-11 09:07] Ivor opened #78 "opts[:stats] not getting through to the adapter"
v2.0.0-rc

Configuring either the Replicated or Local cache with `stats: true` does not seem to pass this option through to the adapter, which means that stats do not seem to be collected.
If I edit the `child_spec` in `Nebulex.Cache` to manually insert the `stats` option then the `Stats` starts up and works as expected.

[2020-09-17 15:09] Ivor commented on #76
Thanks for the great question and answers.

If I understand this correctly then you can have a cache full of records that have expired but if they are never retrieved (to trigger eviction) or garbage collected they will just remain in the cache?

TTL is then not a way to maintain cache size. It is handy for maintaining the integrity of the cache, but you have to set the GC values in the config to

[2020-09-17 16:45] cabol commented on #76
Yes, that is correct, the real eviction mechanism is not the TTL, it is the generational process when the GC runs creating a new generation so that the oldest one is evicted (since the data in the oldest one is the least frequently used). Also, pushing a new generation is also triggered when the configured max size or memory is reached.

Exactly, for taking care of the cache size, you have to conf

[2020-09-20 19:01] cabol commented on #78
@Ivor may you provide more details, how are you configuring the `stats` option? For example, if we define:

[code]

And if we call `MyCache.start_link(stats: true)` that should work, or even by config file:

[code]

If you do something like that, it doesn't work for you? If you can give me more details would be awesome, thanks!

[2020-09-22 15:39] Ivor commented on #78
@cabol thanks so much! I discovered that I had configured the cache incorrectly. I'm very excited about using Nebulex.
Thanks for the great work!

[2020-09-22 15:39] #78 closed

[2020-09-23 03:13] garthk opened #79 "{:EXIT, #PID<0.2945.0>, :normal}"
G'day!

Replicated cache operations when trapping exits results in exit messages for processes you didn't start yourself, in turn causing `FunctionClauseError` crashes and other misbehaviour.

[code]

I've confirmed with `:dbg` those processes were started by the cache's task supervisor:

[code]

… and by modifying the code that it was `Nebulex.RPC.multi_call/3` in particular:

https://github.com/

[2020-09-23 11:17] Ivor commented on #77
Experienced the same issue on ReplicatedCache. Appreciate the hard work. 👍

[2020-09-23 13:05] cabol commented on #77
Yeah, I've been working on some fixes and improvements that should solve this issue, I'll push it soon!

[2020-09-24 20:39] cabol commented on #77
I've pushed some fixes and improvements to master which I think should solve this issue. However, I've had to do some refactorings to the adapters, so there are some minor changes in the config, I highly recommend to take a look at the adapters you're using. Please try it out and let me know if the problem persists, stay tuned, thanks!

[2020-09-28 09:16] Ivor commented on #77
Thanks, will give it a shot and report what we find!

[2020-09-29 07:18] franc commented on #77
Thanks @cabol, I can confirm that it is working for a replicated cache.

Looking at the phoenix dashboard live view output on 2 different nodes I can see that the hits and misses differ per node, but that the writes are the same. This makes sense as the cache is replicated. The cache size is a bit smaller than the amount of writes, and I assume this is because of soem concurrent caching/race condi

[2020-09-30 14:52] cabol commented on #77
Glad to hear it is working now 😄

As you mentioned, since it is a replicated cache, the `writes` will be the same, because each write is replicated to all nodes in the cluster. On the other hand, the reads are resolved locally, then it is normal to have different values for `hits` and `misses` per node. I think the idea of this is with telemetry and maybe by using the StatsD reporter you can aggre

[2020-10-01 10:03] franc commented on #77
yep, I'm using telemetry and statsD accross 2 nodes and then looking at it in datadog - it is easy to aggregage or distinguish in datadog based on host.
I understand writes being the same while hits and misses would be different. What is curious to me is that evictions and expires are different too. my expectation would be that they are mirrored over the cluster to eventually be the same.

[2020-10-01 10:42] cabol commented on #77
Good point, yes, let me check it out because when the GC runs or a new generation is created, it should be applied in all the nodes, perhaps it is related to that, if so, that would require some sort of sync in the cluster, I'll check!!!

[2020-10-12 08:04] garthk commented on #79
G'day! I've tried it out, but despite https://github.com/elixir-lang/elixir/issues/5554 `async_nolink` doesn't seem to solve the problem. In one scenario I end up checking the cache a thousand times, saturating my schedulers. Reckon it'll help directing my `get/2` calls to the primary, as if it's a read replica?

[2020-10-12 13:36] cabol commented on #79
Hey!! Sorry, I couldn't look into it yet, I'll try to check it out this week. On the other hand, out of curiosity, have you tried with the partitioned adapter `Nebulex.Adapters.Partitioned`? Because if the problem is related to `Nebulex.RPC`, other adapters could be affected too.

[2020-10-13 01:15] garthk commented on #79
Not yet, no, but your hunch strikes me as reasonable.

I've figured out most of our recent trouble was coming from `all/1` → `:shards_local.select/3` → `:proc_lib.spawn_link/3`. Luckily, it turned out `stream/1` uses `:shards_local.select/4` which isn't spawning tasks… at least, for that particular usage pattern. I haven't checked the code.

Next worst was `add/2`, which I've replaced with `set_ma

[2020-10-13 19:15] sjmueller opened #80 "Slow cache under moderate simultaneous load"
We have two api nodes in our cluster and have Nebulex v2.0.0-rc.0 setup with `Nebulex.Adapters.Partitioned`. Under regular circumstances, accessing the cache is decently fast, under 50ms. But under semi-heavy load, we had put/delete transactions that are taking 2+ seconds. Originally we thought adding keys to the transactions would help, but the performance continued to be subpar. So we **removed

[2020-10-13 20:27] cabol commented on #79
Right, I think it could be related to `:shards` as you mention, because, for the query-based operations `:shards` runs in parallel, spawning processes via `:proc_lib.spawn_link/3`, and those tasks/processes run under the caller process, in your example above the IEx/shell process, there is no like a dynamic a supervisor for them (like for example in Elixir `Task.Supervisor`). `:shards` has been re

[2020-10-13 20:41] cabol commented on #80
Hey @sjmueller , first of all, thanks for the very detailed explanation and information, it will be very helpful to reproduce the scenario and see what could be happening. I'll dig into it!

On the other hand, yes, the Redis adapter is not compatible with v2 yet, but it is my top priority now, aiming to push the fixes so NebulexRedisAdapter can be compatible with v2 as soon as possible, most likel

[2020-10-13 21:55] sjmueller commented on #80
Hi @cabol thanks for the quick response. We switched directly from mnesia to nebulex `2.0.0-rc.2` so there's no comparison agains v1.2`. However, what we **just now** decided to try is Nebulex `v1.2.2` with the redis adapter, it's going to production shortly so we can tell you how that goes

[2020-10-13 23:23] sjmueller commented on #80
Ok we are using an ElastiCache Redis instance in AWS now with Nebulex `v1.2.2` and the redis adapter, the results were much better. Under peak load only some calls went above `50ms`, but nothing went over `125ms`. While we'd love if nothing went over `50ms`, these are within acceptable limits for us and certainly much better than what was happening with `v2.0.0-rc.0` and the `Partitioned` adapter.

[2020-10-14 07:12] cabol commented on #80
Thanks for the feedback! I was checking out the partitioned adapter implementation in v2 and v1.2 and there are no big differences implementation-wise, both use the same `Nebulex.RPC` util for distributed tasks, same approach, so I think this situation will be the same regardless of the version, but I'll confirm it anyway. I'll continue with the Redis adapter for v2 and keep u posted!

[2020-10-16 10:29] cabol commented on #80
Hey! I did several benchmark tests with the partitioned cache. Using [benchee](https://github.com/bencheeorg/benchee) I ran the next test scenarios:

### Benchee:
- Operating System: macOS
- CPU Information: Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
- Number of Available Cores: 16
- Available memory: 16 GB
- Elixir 1.10.2
- Erlang 22.3
- warmup: 2 s
- time: 3 min
- memory time: 0 ns
- parallel: 16

[2020-10-29 16:24] cabol commented on #80
@sjmueller any feedback on this? As I explained in my previous comment, I did several bench tests but I couldn't reproduce the issue, maybe if you can give me more details about your scenario (check my questions in the prev comment)?

[2020-10-29 16:33] cabol commented on #79
@garthk I have updated Nebulex to use the latest version of `:shards` (along with other improvements and fixes), have you had the change to test if this issue happens with the master branch?

[2020-10-29 16:39] cabol commented on #77
I think we can close this issue, feel free to re-open it if the issue persists!

PD: @franc may you create a separate ticket for `What is curious to me is that evictions and expires are different too. my expectation would be that they are mirrored over the cluster to eventually be the same` ?

[2020-10-29 17:34] cabol opened #84 "Support for new `:pg` module since OTP 23"

[2020-10-29 22:34] garthk commented on #79
Looking good!

[2020-10-30 07:37] #79 closed

[2020-10-30 07:37] #84 closed

[2020-10-30 14:34] cabol commented on #76
Added section "Eviction configuration" into the local adapter to cover GC/eviction settings, caveats, recommendations, etc.

[2020-10-30 14:34] #76 closed

[2020-11-03 15:15] hazardfn opened #86 "Error on cache.import using ReplicatedCache"
A new error started popping recently and I am unsure what is causing it:

[code]

We do a rolling upgrade on 2 clustered nodes, the first deploy fails with the above error, if I take down the other node then restart the deploy everything boots up fine. Do you have any hints as to what could be happening, we've been running this for a while and it has just started happening - we haven't really touc

[2020-11-04 13:49] cabol commented on #86
Hey @hazardfn! Let dig into it, in the meantime, could you try moving to the v2? Actually, try to test with the latest changes in the master branch (RC1 will be available soon anyway), it would be helpful to see if this issue is still there. Thanks!

[2020-11-04 14:21] hazardfn commented on #86
@cabol I ended up finding the issue in the end but not solving the mystery of why it worked for so long before breaking, my best guess is race-condition:

[code]

Switching the position of those 2 in the supervision tree solved the issue.

To further add to the mystery I did a quick upgrade to v2 to test it without switching those positions and it went back to working again...

[2020-11-04 17:36] cabol commented on #86
Yeah, that's should be the cause, a race condition as you mentioned, the primary store has to be initialized first, otherwise, there is a high chance this to happen (one of the downsides in v1 is that you have to define the primary cache/store explicitly, and like in this case, rely on the order how they are initialized). On the other hand, in v2 shouldn't happen because one of the improvements wa

[2020-11-06 18:48] cabol commented on #86
Hey! After some tests with v1.2, I was able to reproduce the error just to be sure it is because of a race condition as you pointed out (due to the replicated cache starts before its primary cache). Starting the replicated cache before the primary one, and forcing the primary cache to delay a bit before to start, I got this error (which I suppose it is the same as you got):

[code]

I also confirm

[2020-11-06 18:48] #86 closed

[2020-11-15 09:29] #77 closed

[2020-11-25 20:38] rzane opened #87 "Is there a way to disable caching entirely?"
I can't seem to find a way to disable caching entirely.

Maybe this library could ship with a null adapter?

[2020-11-27 16:05] cabol commented on #87
I hadn't thought of that, I agree it may be an interesting add-on. I will try to include it in the next release.

In the meantime, if you need to have a NULL adapter urgent, perhaps you can take the [AdapterMock](https://github.com/cabol/nebulex/blob/master/test/support/test_cache.ex#L104-L178) I have in the tests, you can just refactor it a bit, but I think you can do something similar.

[2020-11-27 23:57] rzane commented on #87
Ahh, yeah, this looks like it would solve my issue. I mostly just want it so I don't have to think about caching when I'm running tests.

Thanks!

[2020-11-30 15:16] sjmueller commented on #80
Hi @cabol, circling back here. It turns out there were some areas where we were caching full serialized objects, and doing so in sequential fashion. Example we might loop through and write 100 user objects to the cache for each api request, and this added up over simultaneous load. For some reason this performed much better with the redis adapter. Furthermore we’ve optimized these scenarios by usi

[2020-12-10 20:27] cabol commented on #80
Absolutely, it helps a lot, thanks for the feedback, I'm glad to hear you were able to sort it out by using the Redis adapter. That is precisely the idea of Nebulex, be able to choose the adapter and topology that fits better with your needs, like in this case. In fact, I remember I ran some benchmark tests with the Redis adapter using a Redis Cluster with 5 nodes and the partitioned adapter with

[2020-12-10 23:05] sjmueller commented on #80
Honestly I *love* what you've built here with nebulex, because it models exactly the way I think about caching, i.e. the ability to annotate functions so that caching does it's job but not at the expense of the original contract. All this with flexibility and no lock-in! We're currently using nebulex in a more manual, centralized fashion but can't wait to set aside time and refactor to the idiomat

[2020-12-11 13:12] cabol commented on #80
Great to hear that 😄 ! And of course, there is a long TODO list yet!

[2020-12-11 13:17] cabol commented on #80
Closing this issue for now. Once I have more information about it, if it can be improved somehow, I will create a separate issue for the enhancement.

[2020-12-11 13:17] #80 closed

[2020-12-11 13:19] cabol opened #88 "Adapter Nebulex.Adapters.Nil for disabling caching"
Related issue: #87

[2020-12-11 13:20] cabol commented on #87
Created a separate issue for the NullAdapter #88

[2020-12-11 13:20] #87 closed

[2020-12-20 19:10] cabol opened #91 "Use `:erpc` when depending on OTP 23 or higher, otherwise use current implementation"
Use `:erpc` when depending on OTP 23 or higher, otherwise use the current implementation to key backward compatibility (but it will be deprecated).

After running several benchmark tests, using `:erpc` the performance was improved almost 3x compared with the current implementation using distributed tasks.

[2020-12-21 07:57] cabol commented on #91
This improves the distributed adapters' performance, like `Nebulex.Adapers.Partitioned` reported in #80.

[2020-12-23 16:32] cabol commented on #91
# Local benchmarks using [benchee](https://github.com/bencheeorg/benchee)

## Benchee info

[code]

## Partitioned Adapter using `:erpc`

[code]

[2020-12-24 10:55] #91 closed

[2020-12-26 15:46] cabol opened #92 "Add `:default` option to the `incr/3` callback"
Add `:default` option to the `incr/3` callback so that the default value is set in case the key does not and exist and before it is incremented.

[2020-12-30 11:47] cabol commented on #20
Finally, the Nebulex adapter for Cachex is ready [nebulex_adapters_cachex](https://github.com/cabol/nebulex_adapters_cachex) 🎉 !!!

[2020-12-30 11:48] #20 closed

[2020-12-30 11:52] cabol commented on #65
I'm closing this issue. Feel free to re-open it if you come up with more insights or doubts about it.

[2020-12-30 11:52] #65 closed

[2020-12-31 14:32] cabol opened #93 "Add Nebulex.Adapter.Entry and Nebulex.Adapter.Storage behaviours"
Create two new behaviours for key-based operations and store-based operations (the ones affecting all entries in cache).

- `Nebulex.Adapter.Entry` - This behaviour specifies all read/write key-based functions, the ones applied to a specific cache entry.
- `Nebulex.Adapter.Storage` - This behaviour specifies all read/write functions applied to all cache entries.

[2021-01-02 08:57] cabol opened #95 "Add Nebulex.Adapter.Stats behaviour as optional"
Currently, the stats are handled via a helper module  `Nebulex.Cache.Stats`. The idea s to add a new optional behaviour `Nebulex.Adapter.Stats` so the adapters can implement it and support the stats only by setting the option `:stats` to `true`.

For example, currently, in order to use the stats, we have to add the stats helpers like so:

[code]

With this fix, it is not required anymore, if the a

[2021-01-02 08:58] #93 closed

[2021-01-02 09:17] #95 closed

[2021-01-02 11:30] cabol opened #96 "Adapters implementation guide"
Provide a guide to explain in detail and step by step how to implement a new adapter.

[2021-01-02 13:45] #88 closed

[2021-01-03 15:37] cabol opened #97 "Refactor and/o improve Nebulex task for generating caches"
Creare the `mix` task `nbx.gen.cache` for generating a cache. Similar to the one implemented in v1, it receives the options:

- `-c` - to specify the name of the cache to generate
- `-a` - to specify the adapter to use

Based on the adapter, provide some basic configuration given a better idea about the supported options. Also, for the multi-level cache, generate a 2-level cache that serves as an

[2021-01-03 16:16] #97 closed

[2021-01-03 16:17] cabol commented on #75
Closing this issue because #97 should fix it. Feel free to re-open it if the problem persists.

[2021-01-03 16:17] #75 closed

[2021-01-04 19:15] cabol opened #98 "Update evictions stats when a new generation is created and the older is deleted"

[2021-01-04 19:19] #98 closed

[2021-01-05 15:58] cabol opened #99 "Improve replicated adapter to ensure better consistency across the nodes"
### Improvements

- When a new node joined, it is required to fetch the cached data from any of the cluster nodes. Since in a replicated topology all nodes should have the same data, it is important to ensure all write operations are stopped during the synchronization process avoiding possible inconsistencies. To do so, set a global lock across the cluster when a replicated cache node is joined an

[2021-01-05 16:02] cabol commented on #99
This also should help to have better consistency for cache stats, which was reported in issue #77

[2021-01-06 14:40] #99 closed

[2021-01-30 18:52] cabol opened #100 "Add `delete_all/2` and `count_all/2` functions to the Cache API"
Add `delete_all/2` and `count_all/2` as part of the queryable behaviour.

- `delete_all/2`: Deletes all entries matching the given query. If `query` is `nil`, then all entries in the cache are deleted.
- `count_all/2`: Counts all entries in cache matching the given query. If the query is `nil` (the default), then the total number of cached entries is returned.

These new callbacks should replace `

[2021-01-31 11:21] #100 closed

[2021-02-03 06:23] gaiabeatrice opened #101 "Setting name for Replicated Cache returns no node"
Hello, this is one of my favorite elixir libraries!

I am having one issue: (running 2.0.0-rc.2)

I have a cache that looks like this:

[code]

I tried set the name in the `children` list of the `Application` module
[code]
I also have a test helper for async testing that looks like this (I call this in the setup of the tests)
[code]

If I run this, the tests pass and the app runs. However if I try

[2021-02-03 08:26] cabol commented on #101
Hi @gaiabeatrice, glad to know you use and you like the project :)

About the error, when you give a name to a cache, internally the adapter uses that name to create and name the cluster and/or group along with other things (the module cannot be used because it is supposed the same cache module may be used for different cache instances, that's why the name is used internally instead of the cache m

[2021-02-03 17:22] gaiabeatrice commented on #101
Thank you so much for the prompt response.
I went with the second option. The errors on cron jobs triggering seem to have gone away too. I am still monitoring to make sure it is working consistently.

I think my tests failing were related with the fact that two caches were involved in the module. I added `__MODULE__` to the macro and I don't get that `{:error, {:already_started, #PID<xxx>}}` anymo

[2021-02-03 18:00] cabol commented on #101
I went with the second option. The errors on cron jobs triggering seem to have gone away too. I am still monitoring to make sure it is working consistently.

Glad to hear that!

Yeah, maybe there is a conflict with the names, I would need more info about how are you doing the tests for example, if you can provide something similar to see what do you have, how you are running the tests, perhaps I c

[2021-02-05 00:53] gaiabeatrice commented on #101
I am still having production errors, and I think it probably was unrelated with the name after all.

Everyday at the same time I get this error

for my caches.

Yesterday I started getting this error as well:
[code]

All of the caches have a similar configuration, so for the sake of clarity this is one
[code]

and this is the cache
[code]

If I ssh to the cluster I can see that all the caches seem

[2021-02-05 08:23] cabol commented on #101
First, about this error: `** (MatchError) no match of right hand side value: {[:ok, :ok, :ok], [:"<serveraddress>"]}`

When the replicated cache started, it tries to synchronize with the other nodes, and as far as I can see, three nodes reply `:ok` but this one `:"<serveraddress>"` fails, like if the cache were not running there, also the name looks very weird, like a soft-name, maybe local, not s

[2021-02-07 11:29] cabol commented on #101
@gaiabeatrice I found the issue, during the sync-up process the replicated adapter was is the cache name, assuming always the default, therefore, dynamic caches will fail. I'll push a fix today, keep you posted!

[2021-02-07 14:20] cabol commented on #101
@gaiabeatrice I pushed a fix in the master branch, may you try it out and let me know if it actually solves the error you currently have? Given the case you still got the error, we should get a more specific error and see where the problem is. Stay tuned!

[2021-02-10 14:27] yatender-oktalk opened #102 "unable to migrate to v.2 https://hexdocs.pm/nebulex/migrating-to-v2.html is broken"
I was using nebulex v1.2.2 but with that version shards 0.6 was giving issue while compiling with OTP 23.
Then while upgrading shards was fine but decorator issue came up and there is a broken link for documentation.
Please guide me where I can check the link to upgrade to v2.

[2021-02-10 14:28] yatender-oktalk opened #103 "Migrating to v2 link is broken"
[v2 upgrade link ](https://hexdocs.pm/nebulex/migrating-to-v2.html)

I was using nebulex v1.2.2 but with that version shards 0.6 was giving issue while compiling with OTP 23.
Then while upgrading shards was fine but decorator issue came up and there is a broken link for documentation.
Please guide me where I can check the link to upgrade to v2.

[2021-02-10 14:49] cabol commented on #102
Yeah, that's because, for candidate releases like `2.0.0-rc.2`, hex doesn't update the root of the docs, until the release itself `2.0.0` is published, so it will be broken meanwhile. In the hex doc, on the top-left, you can select the version and set the `2.0.0-rc.2`, this is the link: https://hexdocs.pm/nebulex/2.0.0-rc.2/migrating-to-v2.html#content

[2021-02-10 14:50] cabol commented on #103
I think this is the same issue as #102, isn't it? This is the link anyway: https://hexdocs.pm/nebulex/2.0.0-rc.2/migrating-to-v2.html#content

[2021-02-11 06:11] yatender-oktalk commented on #103
Thank you @cabol for quick help.

[2021-02-11 06:11] #103 closed

[2021-02-11 07:48] cabol commented on #101
@gaiabeatrice any update?

[2021-02-12 17:23] gaiabeatrice commented on #101
Hi, I am sorry.
But for some reason my Github notifications were turned off.

My errors stopped appearing a few days ago. I didn't use the latest master, but I am still using `2.0.0-rc.2`. I am not sure if something else was creating problems and when it got fixed, it fixed this too.

I will absolutely try your fix if the error presents itself again.

I am really impressed by how responsive you ar

[2021-02-12 19:07] cabol commented on #101
Glad to hear that! I will close the issue, but please feel free to re-open it if even with the fix the error shows up again. Thanks!!

[2021-02-14 04:36] dwmcc commented on #101
Hi @cabol I seem to also be running into a similar issue with the Replicated adapter, even when running the latest master branch.
I've got two iex sessions running on my local machine:
`iex --name node1@127.0.0.1 --cookie cache -S mix` and `iex --name node2@127.0.0.1 --cookie cache -S mix`

I am using [libcluster](https://github.com/bitwalker/libcluster) with the EPMD strategy, so all I specify in

[2021-02-14 09:51] cabol commented on #101
Hey @dwmcc !! Certainly, it is the same error, but as far as I can see, the cause is different. Perhaps the real cause of the error is the one you are mentioning, which makes a lot of sense. The initial issue was about using the replicated adapter with dynamic caches, and that was the fix. But this is a different thing that hasn't to do with the dynamic caches and names at all. So, let me elaborat

[2021-02-14 12:35] cabol opened #104 "Add join_cluster and leave_cluster functions to the distributed adapters"

[2021-02-14 12:59] cabol commented on #101
@dwmcc you mentioned you're calling `:init.stop()` for terminating the node, wondering if would be possible to try something out, instead of calling `:init.stop()` directly create a function to wrap the stopping logic up, like so:

[code]

I pushed some changes adding `leave_cluster/0` and `join_cluster` functions, so you have to try it out with the latest master branch. Let's see if that solves t

[2021-02-14 14:15] dwmcc commented on #101
Good morning @cabol -- I'm thoroughly impressed with the response time here!

**TL;DR:** Just pulled your changes from master and I've tested four times now, previously I was able to repro the error nearly every time but now I'm not able to reproduce it at all! Seems to me that leaving the Nebulex cluster is the cleanest solution on my end.

---

Thanks for listing those potential solutions and I

[2021-02-14 14:22] dwmcc commented on #101
Tangentially, for my understanding, why was Nebulex attempting to run an RPC call on `node1` for a `take/2` operation?

Is it the deletion part of the `take/2` that needs to be replicated to other nodes, notifying them the cache no longer has the value that was "taken"?

[2021-02-14 14:39] cabol commented on #101
Totally agree, leaving the cluster is the cleanest way, the other alternatives may have important side effects.

  Is it the after-get deletion action of the take/2 that needs to be replicated to other nodes, notifying them the cache no longer has the value that was "taken"?

Indeed, `take/2` operation removes the key from the cache, that's why it needs to be replicated because there is an implici

[2021-02-14 14:46] dwmcc commented on #101
@cabol excellent!

I'll continue using the `leave_cluster` function as it seems to solve the issue we discussed.
I'm realizing I could have worked around this issue by "putting" the value with a TTL on the node that's shutting down, while "getting" the value on the remaining node, so no RPC call is necessary. But even if I went this route, I'm sure I'd find myself wanting to run some command with

[2021-02-20 08:48] #104 closed

[2021-02-20 08:50] #101 closed

[2021-02-21 08:46] cabol commented on #102
Since Nebulex 2.0.0 was published, the link should be fixed already

[2021-02-21 08:46] #102 closed

[2021-03-09 16:05] thbar commented on #96
It would be interesting indeed. I wondered for instance how hard it would be to create a S3-backend to store large files & stream them back behind a proxy.

Not a urgent need, just sharing out a bit of idea!

[2021-03-16 08:15] philipgiuliani opened #107 "Rolling deployment after adding the cache does not start new nodes"
Hi,

we have set up a rolling deployment but after adding Nebulx with the Replicated Adapter, our new nodes are not able to start up because of the following exception:
[code]

The exception comes from here and raises an Exception if the cache is not running on all connected nodes: https://github.com/cabol/nebulex/blob/master/lib/nebulex/adapters/replicated.ex#L628

[2021-03-21 07:23] cabol commented on #107
Hi, let me look into it. However, I see there is a bug when raising the exception, I will push a fix, despite it is not the cause of the issue it can give us a clearer error stack trace.

[2021-03-21 07:48] cabol opened #108 "Issue when raising Nebulex.RPCMultiCallError in replicated adapter"
There is an issue at [this line of code](https://github.com/cabol/nebulex/blob/323bd762d41c558621eec29ffe9aa93fe7bccc11/lib/nebulex/adapters/replicated.ex#L637) when the `Nebulex.RPCMultiCallError` is raised because the key `responses:` is not given.

[2021-03-21 08:06] cabol commented on #107
Hey @philipgiuliani, I just pushed a fix to master for the exception issue (#108 ), it won't fix the issue itself but we should see the right exception now. If you can try it out and paste the new stack-trace would be great.

On the other hand, about the issue, you mentioned `The exception comes from here and raises an Exception if the cache is not running on all connected nodes`. This is a valida

[2021-03-21 10:03] #108 closed

[2021-03-21 10:21] cabol opened #109 "Custom key generator support by implementing `Nebulex.Caching.KeyGenerator` behaviour"
Enable custom key generators by implementing the behaviour `Nebulex.Caching.KeyGenerator` and specifying it by means of the option `:key_generator` in the caching declarations. For example:

[code]

The `Nebulex.Caching.KeyGenerator` behaviour provides the callback:

[code]

The generator is executed when `module.functions_name(arg1, ...)` is invoked.

[2021-03-21 10:24] cabol opened #110 "Support `:before_invocation` option in the `cache_evict` annotation"
Boolean to indicate whether the eviction should occur after (the default) or before the function executes.

[2021-03-21 12:06] #109 closed

[2021-03-21 12:06] #110 closed

[2021-03-21 12:28] cabol commented on #96
Sounds interesting, but I'm not sure if a cache fits with this, since S3 is a distributed file system, meant to store files (files of any size), and on the other hand, Nebulex is a cache abstraction, and a cache is for in-memory storage, meant to store objects (ideally not large objects). Maybe I'm missing something, that's why I'd like to know more about the idea to understand how a Nebulex cache

[2021-04-07 21:34] escobera opened #111 "Bug on boolean values"
Hello there,

I have a function similar to this one:

[code]

When this function returns `false`, even though the value gets cached, the next time it is called it won't use the cached value and issue another http request.

I tracked down the problem to this code:

https://github.com/cabol/nebulex/blob/7dcdd306ffcc7e97db41c31a10822c04ff44741e/lib/nebulex/caching.ex#L481-L484

Problem here is if `ca

[2021-04-08 07:02] cabol commented on #111
Thanks for report the issue, question, would you like to send a PR with the fix? Otherwise, NP, I can take a look at it and apply the fix. Let me know, stay tuned! Thanks again!

[2021-04-08 16:23] escobera commented on #111
I'm trying to come up with a test case for it. I'll send the PR as soon as possible.

[2021-04-08 19:42] cabol commented on #111
The PR LGTM! It is merged, I will publish a new release this weekend! Thank you for fixing the issue 👍 !!

[2021-04-08 19:42] #111 closed

[2021-04-08 19:43] cabol commented on #107
Any feedback on this @philipgiuliani ?

[2021-04-09 09:20] philipgiuliani commented on #107
Hi @cabol,

sorry for the late reply.

This actually will only happen after the very first deployment after adding Nebulex to the Project.
We had 4 Nodes running with our application version 1.2.0 (without Nebulex). We have added Nebulex in 1.3.0 and when deploying it the new nodes could not start because Nebulex was not running on the 1.2.0 Nodes. The solution was just to stop all Nodes and do a

[2021-04-11 05:04] SophisticaSean opened #113 "Node's that are gracefully shutting down trigger Nebulex errors"
[code]

This happens if we do a deploy or something else (like cron jobs) that spin up and spin down a node. So we'll have 3 nodes normally, and have a cron job node pop up every now and then. If we need to persist something to the cache while that extra node is shutting down then this error happens. The put succeeds to the other healthy running 2 nodes. Instead it should log a warning since I'm v

[2021-04-11 05:14] SophisticaSean commented on #113
cache configuration is this:

[code]

[2021-04-12 20:33] SophisticaSean commented on #113
I wonder if I should trap the exit signal and leave the cluster in each cache? Or maybe we should do that automatically in each cache.

[2021-04-12 21:24] cabol commented on #113
Hi! May you paste the whole stack trace? Since you are using the Replicated adapter I'd like to see from where this exception is being generated, I think it should be during the bootstrap of the replication cache, but I'd like to confirm. Thanks !!!

[2021-04-14 10:11] cabol commented on #113
@SophisticaSean any update? If you can provide the whole stack trace would be great, especially to see in the replicated adapter from where the exception is originated. Stay tuned!

[2021-04-14 16:18] hazardfn commented on #113
We also have a similar issue, it's a little different in that the error we receive is `***(Nebulex.RPCMultiCallError) RPC error executing action: ***` these happen very often when a node in the cluster is removed/shutdown.

I think the core problem for me is I don't see anywhere in the docs that a `put/touch/get` raises an error yet we've seen it for all 3 - for a lot of use cases it probably shou

[2021-04-15 19:09] cabol commented on #113
Definitely, I need to check, because one of the challenges with OTP 23 and `:pg` is the strong eventual consistency, which means when a node leaves or joins the cluster, it could take some time for `:pg` to update the view of the group members, leading to this issue, where the adapter gets a cache node and the cache is actually stopped. Anyway, it is a possibility I'll check what could be the best

[2021-04-17 07:50] cabol commented on #113
Usually yes, but in Nebulex (as in Ecto for example), if there is an internal issue in run-time with the backend you get an exception. For example, if in Ecto you do `Repo.insert(...)` (no `!`) and for some reason, there is an issue with the repo itself, or the DB, etc., you will get an exception. In Nebulex the semantic is similar. So, I agree Nebulex should handle better these scenarios in the r

[2021-04-17 07:54] hazardfn commented on #113
Yeah I guess you have a point there! I just don't think I researched the replicated cache well enough before using it and that is my fault, I wasn't aware of the atomic nature of it. I think this kind of atomic cache update may be useful for some people and scenarios it just doesn't fit our use case very well.

It might be worth adding a flag that effectively ignores failures to update the cache o

[2021-04-17 08:06] cabol commented on #113
Indeed, depending on your needs, you take one cache topology or another, the partitioned topology is great if you don't care about losing part of the data when a node goes down, which actually it shouldn't because it is a cache, so you should always provide a mechanism to load/cache the data back again. The replicated adapter is very challenging because the idea is to keep strong consistency in th

[2021-04-18 16:29] cabol commented on #113
Hey! I've pushed some fixes to the master branch to handle better the errors when the nodes are removed (or added). I tested them already and seem to work, but it would be great you also test the changes and give me your feedback (if the fix works as expected or not). Thanks! Stay tuned!

[2021-04-21 19:06] SophisticaSean commented on #113
I'm testing the new changes in production today. Will report back. This was happening every day under the proper circumstances so I should be able to replicate it easily.

[2021-04-22 01:33] SophisticaSean commented on #113
Ok I've replicated the error again and its slightly different but mostly the same:

Before changes in this issue:
[code]

After:
[code]

[2021-04-22 01:35] SophisticaSean commented on #113
I'm glad its no longer a runtime error but for me these are completely expected when we shutdown a node and shouldn't throw an error. How do you recommend I go about dealing with this error?

I'm wondering if we need to trap exit signals in nebulex and gracefully leave the cluster one `CTRL+C` or other ps kill flags so that we don't attempt to replicate to a `:DOWN` node

[2021-04-22 06:48] cabol commented on #113
@SophisticaSean could you describe the scenario? Because, with the fix, while nodes left the cluster, that error from remote stopped caches is skipped, I'm wondering how are you reproducing the error, so I can reproduce it too.

On the other hand, the exception is ok if you attempt to hit a cache that is stopped, anyway, if you can tell me how are you reproducing this error would be great.

[2021-04-22 06:53] hazardfn commented on #113
@SophisticaSean for me the patch worked, at least for now I haven't seen the errors resurfacing - looking at the type of error I'd hazard a guess your application child_spec order may not be optimal?

If you have processes above the cache in your child_spec list that use the cache you may see errors like that. This is because on teardown the supervisor closes children in reverse order of the origi

[2021-04-22 19:24] cabol commented on #113
@SophisticaSean great to hear that!

Yes, I added a log trace, at least to warn what is happening, not sure if it is useful tho, but any feedback is welcome, I wouldn't mind removing the log trace if it does not add any value.

@hazardfn thanks a lot for your help too!

[2021-04-22 19:46] SophisticaSean commented on #113
Yeah if its not something we can completely eliminate, its fine. I'd just prefer it to be a `Logger.warn` instead. Or configurable to be a `Logger.warn` instead of an error. We alert to _any_ production errors so it'd be nice to cut out the noise here if we can't eliminate it reasonably.

[2021-04-23 20:23] escobera commented on #113
@cabol I'm having the same error on the local adapter as well. Looks like it is trying to lookup an :ets reference that doesn't exist anymore cause I get both the good looking Nebulex error message and a :badarg erlang message. It happens when I take don't the application before deploying a new version.

My cache:
[code]

The errors:

[code]
  and

[code]

[2021-04-23 20:31] SophisticaSean commented on #113
@cabol your changes + the changes in child spec have ameliorated this issue. Where would you like the child spec order documentation to live? I'm happy to make that change.

[2021-04-24 00:05] SophisticaSean commented on #113
I think I spoke too soon:
Got this error today:
[code]

[2021-04-24 00:06] SophisticaSean commented on #113
This happened under those circumstances I described above

[2021-04-24 08:32] cabol commented on #113
@escobera I think your case is different, first because you are using the local adapter directly (not the replicated one), and if you are getting that error it is because the cache has not been started yet, or has been stopped, not sure, but in that case, the error is justified. Maybe you are starting a process that uses the cache before starting the cache itself as @hazardfn described above (star

[2021-04-24 08:38] cabol commented on #113
@SophisticaSean are you sure you are using the latest master branch? Because if I go to this line  `file: 'lib/nebulex/adapters/replicated.ex', line: 439` it takes me [HERE](https://github.com/cabol/nebulex/blob/master/lib/nebulex/adapters/replicated.ex#L439), where there is no code, so it doesn't make sense. If you can double-check you are actually using the latest master branch would be great, s

[2021-04-25 11:31] SophisticaSean commented on #113
@cabol correct, I'm on my nebulex telemetry fork so here is line 439: https://github.com/SophisticaSean/nebulex/blob/sophisticasean/support-before-after-blocks-in-decorator/lib/nebulex/adapters/replicated.ex#L439 but it is up to date to master here.

[2021-04-25 12:43] cabol commented on #113
@SophisticaSean ok, but just to check, can you try to reproduce the error without your changes, just using the master branch? And please share the error and stacktrace. Thanks!

[2021-04-25 12:46] cabol opened #114 "Settle down the foundations to support Telemetry events in the adapters"

[2021-04-25 12:52] #114 closed

[2021-04-25 13:03] cabol opened #115 "Instrument the local adapter with the recommended Telemetry events"
Instrument the local adapter with the recommended [Telemetry events](https://github.com/cabol/nebulex/blob/master/lib/nebulex/cache.ex#L118).

[2021-04-25 15:23] #115 closed

[2021-04-25 15:30] cabol opened #116 "Instrument partitioned adapter with the recommended Telemetry events"
Similar to issue #115

[2021-04-25 15:31] cabol opened #117 "Instrument replicated adapter with the recommended Telemetry events"
Similar to issue #115

[2021-04-25 15:32] cabol opened #118 "Instrument multi-level adapter with the recommended Telemetry events"
Similar to issue #115

[2021-04-25 16:42] #116 closed

[2021-04-25 16:42] #117 closed

[2021-04-25 17:31] #118 closed

[2021-05-01 11:12] cabol commented on #113
@SophisticaSean any update, have you been able to test with the master branch (not with your fork)?

[2021-05-01 11:34] cabol commented on #107
Hey @philipgiuliani! Sorry for the lateness, but actually I've been working on several improvements for the replicated adapter in particular. I tried to reproduce the error with the scenario you described above, starting some nodes without Nebulex, and others with Nebulex, but all nodes connected to each other. The replicated cache, since it uses `:pg`/`:pg2` underneath to retrieve the nodes that

[2021-05-01 17:20] cabol opened #119 "Telemetry handler for aggregating and/or handling cache stats"
Currently, the local adapter is taking care of updating the cache stats when a cache command is executed. Since the Telemetry events make it possible to aggregate and/or handle the cache stats from a separate handler, this logic of updating the stats can be removed from the local adapter and delegate that responsibility to the Telemetry handler.

[2021-05-03 14:54] #107 closed

[2021-05-06 23:54] escobera opened #120 "Use of :ets reference after delete"
Hello there, after some time running I'm being hit with some argument errors here.

[code]
I have 10 different tasks acessing the cache concurrently. Maybe the local adapter has an old invalid reference when it tries to access the backend? Is it preventable?

[2021-05-07 08:00] cabol opened #121 "Possible race-condition when removing older generation while ongoing operations on it"
This scenario could happen when there is heavy concurrency and by the time the GC removes the older generation and there are yet ongoing operations referencing it.

Therefore, the older generation cannot be removed immediately because it may cause race-condition errors. Hence, the idea is to keep it alive till a new generation is pushed, but flushing its data before so that we release memory space

[2021-05-07 08:10] #121 closed

[2021-05-07 08:13] cabol commented on #120
@escobera good catch! I was able to reproduce the issue, I created a separate issue describing the scenario and also pushed the fix to the `master` branch, which should fix this problem too. Please try it out and let me know if it works for you. If so, I will publish a new release this weekend with the last changes.

[2021-05-07 15:32] escobera commented on #120
I'm deploying pointing to master, will run some heavy stuff here and report back. Thank you!

[2021-05-07 18:34] escobera commented on #120
Everything looks fine for now, I'm closing this. Thanks a lot! =)

[2021-05-07 18:34] #120 closed

[2021-05-14 11:29] #119 closed

[2021-05-14 11:33] cabol commented on #113
Since I've couldn't reproduce the errors again with the latest fixes and improvements, and also no new reports or feedback about it, I will close the issue, but feel free to reopen it if you came across the same error again.

[2021-05-14 11:33] #113 closed

[2021-06-07 16:04] nmbrone opened #122 "Nebulex.Caching.SimpleKeyGenerator should produce a unique key"
Hi there 👋

An example:
[code]

In version 2.0 the code above will result in having two entries in the cache with the (unique) keys

  `:erlang.phash2({MyApp.A, :get_something})` and
  `:erlang.phash2({MyApp.B, :get_something})`,

but version 2.1 will end up with the key `0` in both cases and one entry will overwrite another. This could lead to very unexpected results for the one who already did t

[2021-06-07 17:47] cabol commented on #122
Hey 👋 !

Yeah, in version 2.1 that part changed a bit, the `SimpleKeyGenerator` is based on [the default key generation in the Spring Cache Abstraction](https://docs.spring.io/spring-framework/docs/3.2.x/spring-framework-reference/html/cache.html#cache-annotations-cacheable-default-key)

Let me check if maybe makes more sense to change it and make it similar to how it was before. In the meantime,

[2021-06-11 14:19] johannesE opened #123 "Compilation fails in file lib/nebulex/rpc.ex"
[code]

config.exs
[code]
[code]

mix.exs
[code]
Nebulex Version is 2.1.0 according to mix.lock
I tried to find out more, but this is really weird. I'm running this on ubuntu with elixir 1.9. Maybe I'm lacking some dependencies? I tried `mix clean` etc. Any tipps?

[2021-06-11 14:38] cabol commented on #123
Hey 👋 ! Yeah it is weird, I hadn't seen that error when using Nebulex before. Anyway, I see you are using `:shards` as backend (`backend: :shards`), then you need to add `:shards` to the dependencies `{:shards, "~> 1.0"}`, but I'm not sure that is the cause of the error. What Elixir and OTP version are you using?

[2021-06-11 15:40] johannesE commented on #123
I added the shards dependency. That worked, but did not fix the issue.
[code]

[2021-06-11 15:43] johannesE commented on #123
The project is actually open source, so it is available here: [https://github.com/johannesE/ex_owm](https://github.com/johannesE/ex_owm)

[2021-06-14 06:36] cabol commented on #123
Ok, will try to reproduce the issue.

[2021-06-14 08:57] cabol commented on #123
@johannesE I think the issue could be because you are using OTP 20, and Nebulex uses `persistent_term` which is included since OTP 21. Could you try with a higher OTP version, at least 21?

[2021-06-14 09:32] johannesE commented on #123
You are right. Upgrading to elixir 1.12.1 solved it. Sorry for taking your time with this.

[2021-06-14 09:32] #123 closed

[2021-06-18 18:29] liamdasilva opened #125 "Hits/Misses statistics not updated when using get_all"
Hi there :)

I have a cache that has statistics enabled with stats: true in the config
[code]
and with periodic measurements enabled in telemetry
[code]
This produces stats perfectly fine when I use MyCache.get/1, however when using MyCache.get_all/1 I noticed that the hit/miss stats are not updated. Am I doing something wrong or is this a known issue and not supported yet?

Thanks!

[2021-06-19 06:36] cabol commented on #125
You're absolutely right, with `get_all` if a bit thicker because we have to compare which keys were found and which ones weren't, and based on that, update the `:hits` and `:misses`. But I will take a look at it. Thanks!

[2021-06-19 10:56] cabol opened #126 "Add cache option `:default_key_generator` to change the key generator at compile time"
When using declarative caching, by default, the key generator is set to `Nebulex.Caching.SimpleKeyGenerator`. But we should be able to change it at compile time with the option `:default_key_generator`, like so:

[code]

This will allow changing the default key generator globally avoiding passing it on every caching annotation. However, the annotation `:key_generator` option remains and can be use

[2021-06-19 11:31] #126 closed

[2021-06-19 12:11] cabol commented on #122
Hi @nmbrone 👋

1. Regarding `Nebulex.Caching.SimpleKeyGenerator should produce a unique key`,). Image I have a simple scenario with a module like this:

[code]

If the generator includes the module and function to compute the key, the code above wouldn't work, because you will get different keys for each function, so for the most basic and simplest scenarios, it wouldn't work. On the other hand, w

[2021-06-19 14:47] cabol commented on #125
Hey @liamdasilva 👋

I found the issue and pushed the fix already to the master branch. Please try it out and let me know if it works for you.

PD: I'll ship a new release soon!

[2021-06-19 17:05] liamdasilva commented on #125
Wow that was fast, thanks so much Carlos :) I'll test it out and let you know

[2021-06-20 08:13] nmbrone commented on #122
Hi @cabol,

First of all, big thanks for your time.

I really love your idea of adding the `Nebulex.Caching.KeyGenerator` behaviour. My only concern was that its default implementation `Nebulex.Caching.SimpleKeyGenerator` is producing a different key compared to the previous release in case of the very basic usage when you not providing your own `:key` to the `@decorate`.

Given the previous defau

[2021-06-20 09:14] cabol commented on #122
Hey 👋 !!

First of all, thanks for your feedback, it has been very helpful. About the default generator, I agree with you in the sense the version 2.1` broke the previous one, that's my bad, I should have provided documentation about the breaking changes. Overall, I think the issue was more about lack of documentation, which I will try to fix (adding some release notes or migration guide from 2.0

[2021-06-20 15:21] liamdasilva commented on #125
Yup, works great, thanks so much :)

[2021-06-20 15:21] #125 closed

[2021-06-23 12:42] joskar commented on #50
@cabol  Is someone working on this? I'm interested to provide an MR if no one is working on this.

[2021-06-23 12:51] cabol commented on #50
Hey @joskar 👋 ! No, nobody is working on it at the moment, so any help is welcome. Thanks!

[2021-06-23 13:47] joskar commented on #50
Do you have any pointers on how to approach it?

[2021-06-25 12:10] #122 closed

[2021-07-02 15:09] cabol commented on #50
Apologies for the late reply. Honestly, since the issue was opened a long time ago and it is also a nice-to-have feature, I hadn't thought about it. Let me try to come up with some ideas, will try to get back to you soon.

[2021-07-15 15:47] cschmatzler opened #127 "cache_put does not work when passing a list of keys"
Hi!

Checking out the library right now and trying to follow the examples.
Right in the README, this is shown:
[code]

I cannot get this working. Running an `update` method on a record with `cache_put(cache, key: {User, usr.id}, match: &match_update/1)` works just fine and updates the one key in the cache with the updated record.
Passing multiple keys as a list does add one to `Cache.count_all`, n

[2021-07-15 16:02] cschmatzler commented on #127
Added a test for this in https://github.com/cschmatzler/nebulex/commit/9c93e4b2d4b079d79716f3dd99cbd46dd4042636 which expectedly fails.

[2021-07-16 10:36] tomtaylor commented on #122
@cabol thanks for clarifying this - this really caught us out and would have caused security issues if we hadn't caught it in CI. We didn't expect to need to provide a key to `@cachable` decorators, so we had multiple modules returning the same cache result for their 0 arity functions. It would be great if breaking changes like this could be released in a major version next time.

[2021-07-16 11:06] cabol commented on #127
Hey 👋 !

You are facing that issue with the `cache_put` because the `:keys` option is only available for `cache_evict` currently (you can check the docs, and the option is only for `cache_evict`).

However, it could be possible to extend the `:keys` option to the rest of the caching annotations, but that would be an additional improvement (I will check and open a separate issue for it).

Thanks.

[2021-07-16 11:12] cabol commented on #122
@tomtaylor absolutely 💯 , this kind of breaking changes will be in a major version next time, thanks 👍 !!

[2021-07-16 11:55] cschmatzler commented on #127
Hi!
Thank you for your quick reply.

In that case, the quick start example in the README is incorrect:
https://github.com/cabol/nebulex/blob/ca7e0c47fb1a155c226bfa97e6ceeb2cb08bbe0f/README.md?plain=1#L169

I'll see if I can help you out and at least get the README updated over the weekend.
Other than that, being able to put multiple keys on update like in that example would be a great enhancement.

[2021-07-16 14:30] cabol commented on #127
Yeah, you're absolutely right, that is a mistake in the README, I will fix it, and yes, totally agree, I think that would be a good improvement, will try to work on it this weekend!

[2021-07-16 14:31] cabol opened #128 "Make `:keys` option available for `cache_put` annotation"

[2021-07-16 14:32] cabol commented on #127
Created Issue #128

[2021-07-18 09:50] cabol commented on #127
Hey! I pushed to the master branch some changes adding support for `:keys` option in the `cache_put` annotation. Please check it out and let me know if you face any issues. Stay tuned!

[2021-07-19 12:54] cschmatzler commented on #127
Hey Carlos! master branch looks great and the code I had in mind works well now.
Really appreciate your super quick response and the nice enhancement.

Thanks for the great library and I hope you have a wonderful week!

[2021-07-19 12:54] #127 closed

[2021-07-19 13:00] #128 closed

[2021-07-19 13:02] cabol commented on #127
Thanks 🙇‍♂️ !! Will publish a new release with this enhancement very soon!!

[2021-07-28 22:20] SophisticaSean opened #129 "New telemetry isn't user friendly"
Comparing my fork here: https://github.com/SophisticaSean/nebulex/tree/sophisticasean/support-before-after-blocks-in-decorator

In that fork, it was easy to attach to all cache events in your elixir app like such:

`lib/myapp/application.ex`
[code]

Now, with the changes in master, I have to setup telemetry for every cache, 3 or 4 times if I want to include init event:

`lib/myapp/application.ex`

[2021-07-28 22:22] SophisticaSean commented on #129
The solution to problem number 1 is to not have the telemetry event be tied to the cache. You should have the telemetry event be tied to a deterministic, static Nebulex name and send _which_ cache it came from as part of the event data.

[2021-07-28 23:13] mjezew commented on #129
in the vein of user friendliness, some documentation feedback:
1. there is no mention of the primary cache telemetry event
2. it would be great to clarify that the telemetry event is the path to the cache (if this does not change)
3. I'd love to see a stricter type than `map` on `adapter_metadata`

and +1 for changing the telemetry event names.
excited to see where this discussion goes! :)

[2021-07-29 08:35] cabol commented on #129
@SophisticaSean there are several things here. First of all about:

Have you checked the option `:telemetry_prefix` (https://github.com/cabol/nebulex/blob/master/lib/nebulex/cache.ex#L38-L46)? Nebulex follows the same approach as Ecto, if you want a deterministic/static name you just need to configure the `:telemetry_prefix` for all your caches – The option `:telemetry_prefix` is documented in the

[2021-07-29 08:49] cabol commented on #129
Hey @mjezew !!

You're right, that documentation is missing. I will work on it!

This is actually explained in the docs:
- Check [Nebulex.Cache options](https://hexdocs.pm/nebulex/Nebulex.Cache.html#content)
- Also https://github.com/cabol/nebulex/blob/master/lib/nebulex/cache.ex#L38-L46

I rather also strict types, but in this case is a bit tricky, because each adapter may have or add more attrib

[2021-07-31 00:13] SophisticaSean commented on #129
Awesome. thanks for the heads up on `:telemetry_prefix`. That's all working now and as a bonus upgrading to master seems to have fixed this issue for me: https://github.com/cabol/nebulex/issues/113 permanently.

I think something similar to `spandex_ecto` would be good, but we have to get the telemetry perfect inside of nebulex first.
How do you feel about this part:

Would love to see the adapter

[2021-08-28 11:31] cabol opened #130 "Improve the Telemetry documentation for the partitioned, replicated, and multi-level adapters."

[2021-08-28 12:06] cabol commented on #129
I've pushed some improvements for the Telemetry documentation on the adapters (https://github.com/cabol/nebulex/commit/4b10c5aa9425f84650229daf3bb9484e0c9726e1). Basically, I added some docs to the adapters explaining better the primary cache events, also added in the Telemetry guide the example of how to include the adapter into the metrics tags, etc.

[2021-09-03 11:14] hugrave opened #131 "Managing Failovers in the cluster"
Hello guys!

First of all, I want to congratulate with you for the amazing job of this application.

In our use case, we use Kubernetes to deploy the application and we use the rolling strategy for managing new versions. The main idea is that every time a new version is released, old instances are shut down and new versions are spun up.

How to manage failover in this case? If one of the instances

[2021-09-03 13:46] cabol commented on #131
Hey 👋 !

First of all, thank you so much 👍

On the other hand, regarding the scenario you describe, using k8s and having that deployment strategy is pretty common, and it is true when you say it should not be an issue since you should have the SoR, but I agree the downside is that every time you deploy, the cached data will be lost.

I think it may be useful because as I mentioned before, it is a

[2021-09-06 10:05] hugrave commented on #131
Hi @cabol!

Thank you for your fast answer. I believe there are several possible roads here in order to face this issue. I will have a thought in these days with my team and I'll come back with some other alternatives in order to keep brainstorming.

Talk to you soon!

[2021-09-10 15:22] #130 closed

[2021-09-13 04:21] collegeimprovements opened #132 "Is it possible to use return value in key-generation along with the passed parameters ?"
[code]

Can we use the returned `%Entity{}` in KeyGeneration along with `attrs`?

[2021-09-13 07:05] cabol commented on #132
Hey 👋 !

I'm not very sure if I understand, but will try to reply. I see a couple of things here.

About your question, no, it is not possible to use the returned value in the key generator because:

1. The key generation has to run before the function logic/block is executed, so that, the key can be calculated and then check if it does exist in the cache; keep in mind the `cacheable` annotation i

[2021-09-13 12:10] collegeimprovements commented on #132
Thanks a lot @cabol  for the reply.

I've a module(`Entity`) for all my CRUD operations.
Then all other modules e.g. `User`, `Country`, `Company` etc. just delegate CRUD creation to `Entity` module.

I understand why it's not possible to generate key from returned value.
Thanks a lot for explaining it 😃.

I'll try to add some `caching` related value to `attrs` of `User`, `Country` and so on...and

[2021-09-13 15:09] cabol commented on #132
Let me first try to answer your inquiries, and then I will give you an example of how you could achieve what you want.

You shouldn't use the key generator result to determine if the value/result has to be cached, the generator has a very simple/single responsibility which is to provide the key under which the result will be cached, that's all. If you have very custom logic, I think you have to us

[2021-09-13 18:58] collegeimprovements commented on #132
Thanks a lot @cabol for your reply.
Here is the code that I'm trying to cache.

[code]

And my `attrs` generally looks like this:
[code]

Since, they are quite dynamic in nature too, it would be hard to cache them.
And since, search query have similar dynamic nature, I guess I'll go with small ttl for caching.

I was actually looking for a way to put caching on `list` or `search` operations.
And s

[2021-09-14 06:14] collegeimprovements commented on #132
One more question:
I've the following functions to get the value of a resource.
I want to cache the value when i fetch it by `name`.

[code]

When I run the function, I get the following error:
[code]

Am I doing something wrong ?
Is there a way to function with same name and args but different cache-keys like above ?
Another minor thing is, we get a warning `variable attrs is unused`, as it's onl

[2021-09-14 08:50] cabol commented on #132
Hey, no worries, let me answer your question.

Right, the thing is the annotation covers all function clauses, but nothing it cannot be handled, you can do something like this:

[code]

As you can see, for those cases the trick is to create a private function and use the `cacheable` annotation there, in that way, the cache annotation logic will happen only for the case you want.

I think that is b

[2021-09-14 20:37] collegeimprovements commented on #132
Thanks a ton @cabol for your valuable feedback 🙌🏽
The approach you have suggested does solve my issues 😃
And moving the code to private function is a wonderful trick 💡

I'll try to measure and finetune my operations 🎸
Your suggestion and feedback has truly been invaluable. Thanks a lot again.

[code]
By this code i meant that if we have just one function like above where name variable is coming fr

[2021-09-15 06:17] #132 closed

[2021-09-23 16:29] saulbensach opened #134 "Compilation error if cacheable decorator has an argument ignored"
Hey, using Nebulex 2.1.1

Given the following code
[code]
This will give the following error
`invalid use of _. "_" represents a value to be ignored in a pattern and cannot be used in expressions`

A way to fix it without touching any code will be set a name for the ignored parameter like `_params`

But here is my rabbit hole started...
In my project settings I have the warnings as errors so now,

[2021-09-29 11:57] cabol commented on #134
Hey! First of all, thanks for reporting the issue and also provide a very detailed explanation well as a possible solution. I think this issue is a bit tricky, but let me take a look at it, and will try to get back to you soon.

[2021-10-02 16:49] cabol opened #135 "Support tuple `{module, function, args}` in `:key_generator` option for annotated functions"
Currently, when using the `:key_generator` option on annotated functions, it is possible to set only a module that implements the `Nebulex.Caching.KeyGenerator`. The idea is the users can set a custom generator in the shape of `{module, function, args}`, allowing more flexibility to customize what arguments are passed to the key generator function. For example:

[code]

You can pass the arguments

[2021-10-02 16:56] cabol commented on #134
Hey 👋 !

I've been working on this issue, and it hasn't been easy. The tricky part is the annotated function can contain ignored arguments, but also arguments with nested structures and variables within them, and it is impossible to identify what arguments or even nested variables within those arguments wanted to be used for the key generation, there could be tons of scenarios and/or corner cases.

[2021-10-05 06:54] hazardfn opened #136 "handle_rpc_multi_call/3 doesn't handle empty list in res argument"
It seems as if the `res` argument in `handle_rpc_multi_call/3` can be an empty list in some scenarios? in one of the pattern matches `hd/1` can be called on that list throwing a badarg error:

[code]

[2021-10-18 12:39] nicklayb opened #137 "Release a version with new telemetry dependency"
Hey! I noticed that the currently published version (`2.2.0`) doesn't have the same telemetry dependency. Would it be possible to publish a `2.2.1` with it?

the `2.2.0` tag has
[code]

While the most recent master has
[code]

I know that we can pinpoint a given ref on the github repo but it causes issues when using an external adapter like the cachex one since we don't have a pinned version.

Tha

[2021-10-18 13:52] #137 closed, assigned to nobody

[2021-10-18 15:14] saulbensach opened #138 "Performance penalty when using Multilevel + Local + Redis adapters"
Hey.

Today I found one of the bottlenecks that we had on our application.
For giving a bit of context we are using `Nebulex.Adapters.Multilevel` with `Nebulex.Adapters.Local` as L1 and the `NebulexRedisAdapter` as L2. So making a bit of tracing with OpenTelemetry and Zipkin I got this result.

![image](https://user-images.githubusercontent.com/13313290/137758876-70f8bf7c-7b27-4a98-872a-5b8fba0e3c

[2021-10-24 11:16] cabol opened #139 "Fix `Nebulex.Adapters.Multilevel.get_all/3` to call the same invoked function into the underlying levels"
Currently, when calling `Nebulex.Adapters.Multilevel.get_all/3`, it is translated into multiple `get/3` operations underneath, instead of calling the same invoked function for all the levels. This causes a significant performance penalty, avoiding the underlying levels to resolve the `get_all` themselves.

For example, the Redis adapter is able to run the `get_all` in a single command because it s

[2021-10-25 07:31] #139 closed, assigned to nobody

[2021-10-26 17:23] mjquinlan2000 opened #140 "Unhandled :erpc failures"
I am getting a lot of errors while using the Nebulex.Caching decorators which is caused by an unhandled case clause in Nebulex.RPC.rpc_call/6 on rpc.ex:141.

[code]

The clause that does not match is `{:erpc, :timeout}` and some other `{:erpc, _error}` exceptions. Here is some background about how the app is set up:

erlang 24.1
elixir 1.12.3
running on k8s cluster with a horizontal pod autoscaler

[2021-10-29 15:58] cabol opened #141 "Option `:on_error` for caching annotations to ignore cache exceptions when required"
Since caching annotations handle the cache commands underneath, it is not possible to control the command execution, like doing nothing or ignoring any cache error and letting the function block be executed instead. To address it, the option `:on_error` is added to all caching annotations, and the possible values are: `:raise` (the default) or `:nothing`. If `:on_error` is set to `:nothing`, any e

[2021-10-29 18:28] #141 closed

[2021-10-29 18:30] cabol commented on #140
@mjquinlan2000 just pushed the new feature for caching decorators (#141), please try it out, let me know your thoughts.

[2021-10-30 08:52] cabol opened #142 "Add option `:join_timeout` to the partitioned adapter"
Add option `:join_timeout` to the partitioned adapter to allow the bootstrap process to rejoin the cluster periodically and ensure the cache is always joined.

[2021-10-30 08:55] cabol opened #143 "Additional Telemetry events for the partitioned adapter"
Additional Telemetry events for the partitioned adapter, adding into the metadata the current cluster nodes. The events are:

* `telemetry_prefix ++ [:bootstrap, :started]` - Dispatched by the adapter when the bootstrap process is started.
* `telemetry_prefix ++ [:bootstrap, :stopped]` - Dispatched by the adapter when the bootstrap process is stopped.
* `telemetry_prefix ++ [:bootstrap, :exit]` -

[2021-10-30 09:06] #143 closed

[2021-10-30 09:06] #142 closed

[2021-10-31 10:00] cabol commented on #140
Hey @mjquinlan2000, some thoughts about how you can handle these errors.

1. I think if you are using the caching annotations, with the fixed I posted you can at least ignore them, but not sure how ignoring the errors will affect your application, maybe it is not an issue for you, since if something is now working with the partitioned cache because of an issue with the Elixir cluster, the function

[2021-11-01 20:34] mjquinlan2000 commented on #140
@cabol I have seen the retry library before, but I have never used it. Most of cache errors that are concerning for me happen on user requests and I'd rather just ignore the error raised and fall back to the db so that I don't keep users waiting. I think the retry library will actually help me with some other areas in the application so I'm going to look into using it.

After more investigation, i

[2021-11-02 07:47] cabol commented on #140
Sounds good, in the meantime, I will close the issue, but feel free to reopen it and even create a new one if you come across something not working properly, stay tuned, and thanks!

[2021-11-02 07:47] #140 closed

[2021-11-06 14:49] saulbensach commented on #138
Hey @cabol sorry but I'm working on pushing software, so I dont have any time :(

[2021-11-13 11:28] cabol commented on #129
Closing this issue since I haven't received any feedback a long time ago, feel free to reopen it or create a new one for reporting related issues or maybe new suggestions.

[2021-11-13 11:28] #129 closed

[2021-11-13 14:13] cabol commented on #136
Hey! sorry for the lateness, the good news is I found the root of the issue and it is fixed now. Please try it out and let me know if it worked. In the meantime, I will close the issue but feel free to reopen it if you come across the error again.

[2021-11-13 14:13] #136 closed

[2022-02-10 01:26] nallwhy opened #144 "What happens if cache uses more memory than the machine have?"
I'm considering to setup `:allocated_memory` config, but I don't know it is necessary or recommended.

What happens if cache uses more memory than the machine have without `:allocated_memory` limitation?
Does it try memory swapping? or OOM happens?

[2022-02-14 01:41] nallwhy commented on #144
Thanks for the detailed reply!

[2022-02-14 01:42] #144 closed

[2022-02-19 14:57] cabol opened #145 "Improve cache memory/size checks for local adapter"
The GC in the local adapter only inspects the first/newer generation when running the memory and size checks. The idea would be to check both generations (newer and older) to have a more accurate behavior releasing memory space more efficiently.

[2022-02-19 14:58] #145 closed

[2022-02-24 05:56] blisscs opened #146 "The match spec in the doc should be of size 5 instead of size 4"
Recently, we had to update our app from using nebulex from 1.2.2 which was running on elixir 1.8.2 and otp 22.0 to nebulex version 2.3.0 on elixir 1.12 and otp 24.0. We were facing errors that our Ex2ms queries that we were using in the form of a tuple of four values `{key, value, version, expire_at}` got failed.

I've looked everywhere including hex document, elixirforum, and other sources of wha

[2022-02-24 08:41] cabol commented on #146
Hey! First of all, sorry about that, I was checking out the docs and there are parts outdated, so that is an issue, I will try to fix the docs accordingly. Regarding the tuple, in the local adapter, [the entry is an Elixir record](https://github.com/cabol/nebulex/blob/master/lib/nebulex/adapters/local.ex#L316-L321), like so:

[code]

This means it would be a tuple with 5 element like so: `{:entry,

[2022-02-24 15:07] blisscs commented on #146
Thank you very much Cabol.
I already edited the code to make things work.

I have some questions concerning checking for expiry.
Since I see from the code that if I want to check if a record is already expired. using the query How do I check it.
I will have to check with something like below right?

[code]

Or I can just skip that expiry check since the query will guarantee that I will always get

[2022-02-24 15:57] cabol commented on #146
You have to validate it in the query. There is a build-in query for retrieving the unexpired entries `MyApp.Cache.all:unexpired)`, so maybe you can do something similar by adding [that unexpired condition](https://github.com/cabol/nebulex/blob/master/lib/nebulex/adapters/local.ex#L792) plus the ones you want. For example:

[code]

[2022-02-25 01:51] blisscs commented on #146
Thank you Cabol I will try what you suggested.

[2022-02-26 04:32] thachtan opened #147 "Transaction in Replicate not block global"
I have some trouble with replicate adapter when using transaction. a process in another node still update/put cache with the same key.
I have [mini repo](https://github.com/tanthachiplus/demo_nebulex_lock_key.git) describe this issue.

Context in example:
- start app in two nodes (:node1, :node2)
- account balance in starting is 0.
- get cache function will create transaction and add 100, 200 in b

[2022-03-04 18:15] cabol commented on #147
Hey 👋 ! I will try to take a look at it very soon, BTW, thanks for the detailed information about the issue, that helps a lot :)

[2022-03-20 12:10] #146 closed

[2022-03-20 12:13] cabol commented on #138
Closing this issue since no more feedback was received. Feel free to re-open if there are more findings or feedback about it.

[2022-03-20 12:13] #138 closed

[2022-03-20 12:45] cabol commented on #147
Hi @thachtan 👋 ! First of all, apologies for the lateness, I've been pretty busy so I hadn't been able to check this out.

Now, I ran the example you have, and did work for me as expected, but I had to fix some issues you had in your code, let me list them here:

1. You are using the wrong app name to load the config. In the [DemoNebulexLockKey.Application](https://github.com/tanthachiplus/demo_ne

[2022-03-27 05:34] thachtan commented on #147
Oh, i apologize for my bad config and take time of you. Sorry about i have no time to reply soon.

But I remembered true error. I have updated new version with demo.

I will explain now.

First I have updated config as you instruction. Next I run get and update account balance with transaction in the same time. But it will have different at start time run. Node 1 will sleep 5s, node 2 will sleep 1

[2022-03-28 11:51] cabol commented on #147
Hey 👋 !

You were right, there was an issue with the transaction logic, but I just pushed a fix to the master branch. If I run your demo with the fix:

[code]

Just to point out the `node2` now states blocked until the transaction in `node1` finishes:

[code]

Then the result is:

[code]

Please try to test again your demo with the fix and let me know if it works for you, if so, I will publish a n

[2022-03-29 02:43] thachtan commented on #147
Oh it works as my expected. Thank you for take time to help this issues.

[2022-03-29 02:43] #147 closed

[2022-03-29 08:49] cabol commented on #147
Excellent! And thanks to you too, it was an important issue, and you provided a lot of details so that made the work much easier, thanks!!

BTW, a new release `2.3.2` was published already with the fix!

[2022-05-11 04:19] atavistock opened #155 "Document test env setup with decorators?"
I'm able to easily switch adapters before the supervision tree starts, but I'm somewhat confused on the best approach to the decorator pattern and how it might work with different implementations.

In any given module I have `@decorator cacheable(cache: MyApp.Cache.Local)`.  The problem is that `MyApp.Cache.Local`  is the real implementation, not an alias or a mock.   I know I could do something m

[2022-05-12 15:32] suzdalnitski commented on #155
Having the exact same issue... Is there a way to use the Null Adapter with decorators?

[2022-05-13 11:13] cabol commented on #155
Hey 👋 !!

Well, the main limitation is decorations are evaluated in compilation time, so yes, the cache you pass there is the real implementation. I think there may be several ways to address this, but let me mention a workaround I've used myself in these cases. You can add a configuration parameter at the app level to define the adapter to use, for example:

[code]

And then you can use the diffe

[2022-05-16 15:08] suzdalnitski commented on #155
@cabol

Thanks for a quick reply!

Do you think it may be possible to modify the decorator to accept a function returning the cache at runtime?

Something among the lines of:

[code]

Would you be interested in a PR for this feature?

[2022-05-16 21:51] suzdalnitski commented on #155
@cabol

Let me know if I should make any changes to my PR: https://github.com/cabol/nebulex/pull/156

[2022-05-19 15:28] suzdalnitski commented on #155
You still need to start the cache, here's how I'm doing this in tests (based on the `DataCase`):

[code]

The caches are defined as:
[code]

Then make sure that you're running this as async within your tests:

[code]

[2022-05-30 15:03] suzdalnitski commented on #155
@cabol
Is there anything that can be improved in the PR? Thanks!

[2022-06-01 08:25] cabol opened #157 "Option `:cache` admits MFA tuple `{module, function, args}` as value on the annotated functions"
The purpose of this feature is to allow resolving the cache in runtime dynamically by calling a function given by an MFA tuple.

The cache option can be the de defined cache module or an MFA tuple to resolve the cache dynamically in runtime. When it is an MFA tuple, the MFA is invoked passing the calling module, function name, and arguments by default, and the MFA arguments are passed as extra arg

[2022-06-01 13:40] suzdalnitski commented on #155
@cabol That's great, thank you!

[2022-06-02 04:59] thachtan opened #158 "Duplicate data keys when put in replicated cache when start app"
Hi team, i have problem with duplicate data in replicated cache.

I start two node same time and put data concurrently and a have duplicate in both node.

I have small [repo](https://github.com/tanthachiplus/demo_nebulex_lock_key.git) to describe it.

I add data in small setup process.

<img width="649" alt="Screen Shot 2022-06-02 at 11 55 49" src="https://user-images.githubusercontent.com/5043778

[2022-06-02 05:59] #157 closed

[2022-06-02 06:54] cabol commented on #158
Hey! Let me check it out and will try to get back to you soon!

[2022-06-04 19:45] cabol commented on #158
Hey! I've pushed some fixes and improvements to the master branch, may you please try it out and see if you get the same error, stay tuned, thanks!

[2022-06-05 04:24] thachtan commented on #158
Great, It worked!!!

It clear old cache gen.

Thanks for your help ^^ <3 <3 <3

[2022-06-05 04:24] #158 closed

[2022-06-05 06:26] cabol commented on #158
Glad to hear that 😄 ! And thanks to you too, because of your tests, we have been able to identify issues, corner cases, and also possible improvements, which is great, so thanks, stay tuned 👍

[2022-06-05 07:10] cabol opened #159 "Multiple keys deletion at once with predefined query `{:in, keys}`"
Implement support for multiple keys deletion at once by means of `c:delete_all/2` and predefined query `{:in, [_ | _] = keys}`. For example:

[code]

The call above should delete the keys "foo"` and `"bar"` from the cache at once.

[2022-06-05 07:47] #159 closed

[2022-06-05 08:09] cabol commented on #158
BTW, just published a new release with these changes as well as with other features!

[2022-06-22 16:25] atavistock opened #161 "Cannot use variables in decorator keys"
In the documentation there are many occurrences of using the cacheable decorator where a key is specified

For example:
[code]

In these cases (at least for me) the compiler rightly complains that `email` doesn't exist.  Is this intended to be an atom and not a bare variable?

[2022-06-23 14:33] cabol commented on #161
Hi 👋 !!

That's weird, I've tried the same code snippet you put here and worked, no warnings or error whatsoever, in fact, I have several similar annotated function and haven't had a warning. So, what version of Nebulex and Elixir are you using? So I can try to reproduce it.

[2022-06-23 22:37] #161 closed

[2022-06-28 20:34] khaskelberg opened #162 "Incr doesn't initialize default value if ttl is expired"
Hey!

Currently when you `incr` on expired value it increases and returns expired value and doesn't invalidate it. I personally expected that it would increase the default value, if ttl is expired.

Here is an example test https://github.com/khaskelberg/nebulex/commit/49438f8eeb40f90d90af51a7e4151f8bc995e96f
[code]

And here is the test ouput
[code]

[2022-07-01 09:13] ananthakumaran opened #163 "Telemetry handler fails when using put_all"
[code]

[2022-07-01 10:48] #163 closed

[2022-07-10 11:36] cabol commented on #162
Hey! Good catch! I pushed a fix already, please try it out, stay tuned!

[2022-07-10 11:43] #162 closed

[2022-08-31 15:54] tpitale opened #165 "On-change handler for write-through decorators"
If I were to submit a PR to add support for something like an "on-change" handler to the write-through annotation (thinking `cache_put`), would that be something you'd be open to adding as a feature?

It feels like something others might want to use. If not, I can probably just add it in my own codebase.

[2022-08-31 15:55] tpitale commented on #165
Or maybe there is a way to do this already, and I just haven't found it?

[2022-08-31 16:08] cabol commented on #165
New features are always welcome!  According to my understanding, the `:on_change` option would be for the `cache_put` annotation, and what you want is only to put/update the new value in the cache if changed, is that right? If so, keep in mind that will require an extra operation for retrieving the current value from the cache, so that it can be compared and based on that decide whether it should

[2022-08-31 16:40] tpitale commented on #165
I think it would leave cache_put the same way if no on_change function was passed in the annotation.

Then if one was passed, as you said, it would first read the value.

Otherwise, cache_put would behave the same (or not, it could not write if the value hasn't changed). But mostly, the value would be to call the on_change function with old and new value when they don't match.

Wanting to use this

[2022-08-31 17:23] cabol commented on #165
IMHO, it looks like a more custom/specific use case, in which I'd rather use [c:get_and_update](https://hexdocs.pm/nebulex/Nebulex.Cache.html#c:get_and_update/3) rather than the `cache_put` annotation. Like:

[code]

Anyway, this is how I would approach this, perhaps I'm missing something, let me know your thoughts!

[2022-08-31 17:27] tpitale commented on #165
That works for me. I thought it might be nice to have this option with the annotation. But I'm good with this route.

Thanks!

[2022-08-31 17:28] #165 closed

[2022-09-22 08:56] hazardfn opened #167 "Confusing documentation for telemetry"
With the latest nebulex version the telemetry setup/integration changed quite a lot and broke a few of our dashboards (this is fine, that one's on us for updating), I have finally gotten around to updating our code to match the new telemetry layout! This task took longer than I thought it would because the initial examples in the documentation didn't work in our use case.

The documentation implie

[2022-10-04 16:44] aphillipo opened #168 "Multi level caching suggestion?"
Hi loving Nebulex it's really fantastic!

[code]

This would mean instead of adding an entry to the cache for that specific {User, sub} it became multi layered and it would store in the main cache {User, id}, updating it there should this be needed and also adding a reference to this value from {User, sub}. This means that we can now just delete {User, id} from the cache with cache_evict and not h

[2022-10-07 07:08] cabol commented on #168
Hey 👋 !! That's actually a very good and interesting suggestion, it definitely would be very useful, I think it really worth exploring it. Let me try to come up with a design for this, but also feel free to open a PR or put your thoughts/ideas here. Thanks for the suggestion, it is pretty good! Will try to give you feedback soon!

[2022-10-08 19:14] aphillipo commented on #168
Yes if I get a chance next week I'll have a look at the source code and have a play...

[2022-10-10 08:51] cabol opened #169 "Ability for referencing a key in the `cacheable` decorator via `:references` option"
## Problem

Let's assume we have a schema `UserAccount` which has an `:id` (primary key) but also has the `:email` that is also unique. In the context, we end up writing a couple of functions to retrieve the user account by `id` as well as by `email`, like so:

[code]

The problem we end up storing the same object twice under different keys, `id` and `email`. Therefore, for the eviction, we have t

[2022-10-10 08:53] cabol commented on #168
I've created a separate issue describing the feature request, please check it out and let me know if I miss something (#169). BTW, will open a new branch with the solution soon so you can try it out. Thanks!

[2022-10-12 15:45] tpitale opened #171 "Adapter configuration per-env?"
Is it, or would it be, possible to configure the adapter based on the environment? E.g., dev uses a local cache, but released environments use the redis adapter.

[2022-10-15 07:07] cabol commented on #171
Hey! I think this issue https://github.com/cabol/nebulex/issues/155 is related to this, let me know if that helps, otherwise, we can continue the discussion here.

[2022-10-15 07:17] cabol commented on #167
Ok, let me check the docs and improve it. But overall, by default, the telemetry prefix by default is the defined cache module converted into a list of atoms (lowercased and underscored). But yeah, I agree the docs should be more clear. Thanks!

[2022-10-15 07:20] cabol commented on #131
I will close this issue for now since it has been opened a long time ago but feel free to reopen it in case you have some feedback or new thoughts, etc. Thanks!

[2022-10-15 07:20] #131 closed

[2022-10-15 18:30] #171 closed

[2022-10-15 18:31] tpitale commented on #171
Thanks @cabol!

[2022-10-20 21:49] JVZELLER opened #173 "[multiple clause functions] Cannot use ignored variables in decorator keys"
### Current behavior
When using multiple clause functions, it seems not possible to specify a key when one of the clauses ignores a given argument.

For example:
[code]
In these cases, the compiler complains that `a` doesn't exist:
[code]
The same happens if I remove the empty function head:
[code]

To make it works (compile), I needed to either use the argument/variable for logging (as only remov

[2022-10-26 07:50] cabol commented on #173
Yeah, I was checking and the error comes from the `:decorator` library (Nebulex depends on it), and it is because the last function clause `def type(_a), do: :something_else` (because of the skipped underscored variable). We can see if perhaps we can do something about it, but in the meantime, I suggest maybe rewrite the function like this (a workaround):

[code]

That should work, I've tried it o

[2022-11-04 08:41] cabol commented on #155
Closing this issue since some workarounds have been shared and the ability to resolve the cache in decorators at runtime. However, for Nevbulex v3.0.0 I'm planning to address this better, not only with the decorators but in general, so suggestions or ideas are welcome, feel free to open an issue with the proposal.

[2022-11-04 08:41] #155 closed

[2022-11-11 07:32] #96 closed

[2022-11-12 12:02] #169 closed

[2022-11-14 09:04] cabol opened #177 "Improve default match function in decorators to cover more scenarios"
Currently, the default match function given in the option `:match` just returns `true` (`fn _ -> true end`), meaning, whatever is returned should be cached. But in Erlang/Elixir most of the common scenarios return Ok/Error tuples or special atoms in case of error, like `:error`. The idea is to have a default match function to cover those common cases, like so:

[code]

By default, if the code-bloc

[2022-11-14 09:08] #177 closed

[2022-11-20 14:50] cabol opened #178 "External cache-key references on `cacheable` decorator"
Previously in #169 the support for key references on the same was implemented, like "internal references". Despite this could be the common case scenario, there could be situations where you may want to reference a key that is stored in a different and/or external cache. But let's give a possible use case. Assume we have a Redis cache (using the `NebulexRedisAdapter`), and you want to optimize the

[2022-11-20 15:21] #178 closed